# Upload Data Sets (Tech_Hub)

## Data Sets

In [87]:
import pandas as pd

# Load the Excel files into Pandas DataFrames
df1 = pd.read_excel("Metropolitan_Data_on_Tech.xlsx")
df1.rename(columns={'Employment Employment_percent_relative_standard_error Hourly_mean_wage Annual_mean_wage Wage_percent_relative_standard_error Hourly_10th_percentile_wage Hourly_25th_percentile_wage Hourly_median_wage Hourly_75th_percentile_wage Hourly_90th_percentile_wage Annual_10th_percentile_wage_(2) Annual_25th_percentile_wage_(2) Annual_median_wage_(2) Annual_75th_percentile_wage_(2) Annual_90th_percentile_wage_(2) Employment_per_1,000_jobs Location_Quotient': 'Employment_Total'}, inplace=True)
df1.rename(columns={'Employment_per_Thousand_Jobs': 'Employment_per_1k_jobs'}, inplace=True)
df1

,Area_Name,Employment_Total,Employment_percent_relative_standard_error,Hourly_mean_wage,Annual_mean_wage,Wage_percent_relative_standard_error,Hourly_10th_percentile_wage,Hourly_25th_percentile_wage,Hourly_median_wage,Hourly_75th_percentile_wage,Hourly_90th_percentile_wage,Annual_10th_percentile_wage,Annual_25th_percentile_wage,Annual_median_wage,Annual_75th_percentile_wage,Annual_90th_percentile_wage,Employment_per_1k_jobs,Location_Quotient
0,"Abilene, TX (00-10180)",1040,3.5,34.49,71740,1.7,13,21.03,30.24,44.39,61.36,27040,43740,62900,92340,127620,14.248,0.42
1,"Aguadilla-Isabela, PR (00-10380)",550,21.5,,52300,2.2,10.02,14.01,22.83,33.99,40.51,20830,29140,47480,70700,84250,10.511,0.31
2,"Akron, OH (00-10420)",8200,1.5,43.59,90670,1.6,23.02,29.85,39.7,54.97,65.07,47890,62090,82570,114330,135350,25.566,0.75
3,Alaska nonmetropolitan area (02-00006),1070,4.2,42.13,87620,1.1,24.24,30.01,39.75,50.71,62.79,50420,62420,82680,105480,130600,10.356,0.3
4,"Albany, GA (00-10500)",910,3.1,40.31,83840,1.2,21.06,26.98,37.9,49.29,61.85,43800,56120,78820,102530,128660,15.293,0.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,(8) Estimate not released.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537,SOC code: Standard Occupational Classification...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539,"Data extracted on March 01, 2025",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
import pandas as pd

# Load the Excel files into Pandas DataFrames
df2 = pd.read_excel("Tech_Job_Gains.xlsx")

df2

                City    2018    2019    2020    2021    2022    2023    2024
0        Albuquerque   20534   21211   21437   21778   22898   23276   23596
1            Atlanta  209965  215036  214425  217589  227821  229584  235268
2             Austin  135358  144514  151594  157572  176248  180507  190186
3          Baltimore  100820  103080  103411  104078  104423  104838  106852
4              Boise   23384   23737   23506   24048   25387   25749   26592
5             Boston  262166  269471  266245  266780  270775  268934  274023
6            Buffalo   24205   23689   22550   22815   23981   24550   25255
7         Charleston   17654   17614   17890   17759   19162   19588   20468
8          Charlotte   79401   79943   83419   85263   89246   90859   93806
9            Chicago  245968  248120  241768  238965  246517  245800  247935
10         Cleveland   51133   51580   51170   51858   52708   52318   53085
11  Colorado Springs   24946   25114   25405   26180   27954   28466   29201
12          Columbus   62389   62576   61552   61493   62155   62144   62806
13            Dallas  287379  301240  310364  324080  349631  360322  375540
14            Denver  139004  143259  145355  149931  159015  160057  165731
15        Des Moines   23455   23559   23850   23851   24681   24908   25359
16           Detroit  105625  105752  101799  101851  104124  103896  104172
17          Hartford   37716   38106   37812   37253   38165   38515   38979
18           Houston  131320  136620  137780  140676  149152  152084  155660
19        Huntsville   25469   26448   27081   27489   28542   28683   29135
20      Indianapolis   52047   53706   53438   53706   54958   55585   56990
21       Kansas City   71823   72720   75261   74891   76827   77699   78927
22         Las Vegas   29085   30111   28892   30901   35167   35954   37577
23       Los Angeles  365877  372869  366033  368539  376955  375831  378427
24           Memphis   18283   18590   19173   19669   21009   21045   21450
25             Miami  113398  116927  116436  122059  132847  135965  139644
26         Milwaukee   46989   46553   44925   44842   44916   44349   44084
27       Minneapolis  149976  150130  147778  146168  146623  147088  148204
28         Nashville   45996   48578   50643   51876   58546   60502   63391
29       New Orleans   14780   15501   15709   15968   17456   17760   18261
30     New York City  533740  545154  542142  549565  585879  594191  613861
31     Oklahoma City   25019   25137   25355   25603   27311   28211   28722
32             Omaha   30780   30956   31357   31767   31676   31085   31174
33           Orlando   64416   65592   65152   67509   71942   73922   76085
34      Philadelphia  155318  158092  157334  154522  158476  157986  159251
35           Phoenix  145009  151289  156659  160193  168018  168694  172709
36        Pittsburgh   62564   62640   60803   59768   58860   58646   58884
37          Portland  106453  109613  110652  114225  119784  120406  123486
38        Providence   32380   32648   31776   32783   33824   34024   34627
39           Raleigh   70469   72432   67960   70221   73624   75041   77377
40        Sacramento   53849   55444   54677   54954   55669   55368   55709
41    Salt Lake City   56440   59834   61401   64614   69272   69826   73038
42       San Antonio   47249   48909   49618   50578   52728   53290   55069
43         San Diego  112140  115797  115367  119129  121418  121128  123237
44     San Francisco  315488  334141  337971  345502  368407  365494  380190
45          San Jose  333891  348518  351523  352752  366574  364882  374138
46           Seattle  248251  260871  266359  269109  288329  287621  298361
47         St. Louis   74122   75192   75731   75557   77818   78129   78905
48            Tampa    80310   83167   84441   87519   91975   93358   95845
49           Trenton   17137   17408   17474   17817   18658   18541   18764
50     Washington DC  355920  363985  366221  367527  375358  376034  380232

In [89]:
import pandas as pd

# Load the Excel files into Pandas DataFrames
df3 = pd.read_excel("Venture_Capitol.xlsx")

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               150 non-null    object
 1   Venture_Capital_Score  150 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.5+ KB

## Merging the Data Sets

In [90]:
import pandas as pd
import sqlite3

# Load the Excel files into Pandas DataFrames
df1 = pd.read_excel("Metropolitan_Data_on_Tech.xlsx")
df2 = pd.read_excel("Tech_Job_Gains.xlsx")


# Adjust specific city names to match between datasets
df2['City'] = df2['City'].replace('New York City', 'New York')
df1['Area_Name'] = df1['Area_Name'].replace('Washington-Arlington-Alexandria, DC-VA-MD-WV (00-47900)', 'Washington DC-Arlington-Alexandria, DC-VA-MD-WV (00-47900)')

# Create an in-memory SQLite database
conn = sqlite3.connect(":memory:")  # This avoids creating a physical file

# Load DataFrames into SQLite tables
df1.to_sql("Metro_Data", conn, if_exists="replace", index=False)
df2.to_sql("Tech_Gains", conn, if_exists="replace", index=False)

# SQL Query to merge the data based on matching names (Area_Name, City, Location)
query = """
SELECT DISTINCT *
FROM Metro_Data 
JOIN Tech_Gains
ON Metro_Data.Area_Name LIKE '%' || Tech_Gains.city || '%' 
AND Metro_Data.Area_Name NOT LIKE '%nonmetropolitan%'
GROUP BY Metro_Data.Area_Name
"""



# Load the merged result back into a Pandas DataFrame
merged_df = pd.read_sql(query, conn)

# Close the connection
conn.close()

# Save or analyze the merged data
merged_df.to_excel("merged_output.xlsx", index=False)  # Save as Excel
merged_df  # Display first few rows

,Area_Name,"Employment Employment_percent_relative_standard_error Hourly_mean_wage Annual_mean_wage Wage_percent_relative_standard_error Hourly_10th_percentile_wage Hourly_25th_percentile_wage Hourly_median_wage Hourly_75th_percentile_wage Hourly_90th_percentile_wage Annual_10th_percentile_wage_(2) Annual_25th_percentile_wage_(2) Annual_median_wage_(2) Annual_75th_percentile_wage_(2) Annual_90th_percentile_wage_(2) Employment_per_1,000_jobs Location_Quotient",Employment_percent_relative_standard_error,Hourly_mean_wage,Annual_mean_wage,Wage_percent_relative_standard_error,Hourly_10th_percentile_wage,Hourly_25th_percentile_wage,Hourly_median_wage,Hourly_75th_percentile_wage,...,Employment_per_Thousand_Jobs,Location_Quotient,City,2018,2019,2020,2021,2022,2023,2024
0,"Albuquerque, NM (00-10740)",11730,3.29999995231628,46.7,97140,2.40000009536743,20.9,30.12,42.53,61.91,...,29.6319999694824,0.870000004768372,Albuquerque,20534,21211,21437,21778,22898,23276,23596
1,"Atlanta-Sandy Springs-Roswell, GA (00-12060)",120180,1.5,52.5,109210,0.699999988079071,26.05,36.34,50.12,65.4,...,42.6520004272461,1.25,Atlanta,209965,215036,214425,217589,227821,229584,235268
2,"Austin-Round Rock, TX (00-12420)",81150,1.39999997615814,53.6,111490,2.59999990463257,24.43,35.07,50.64,67.85,...,65.6859970092773,1.92999994754791,Austin,135358,144514,151594,157572,176248,180507,190186
3,"Baltimore-Columbia-Towson, MD (00-12580)",64180,1.79999995231628,61.76,128450,3.40000009536743,30.93,42.44,60.23,77.72,...,49.2039985656738,1.44000005722046,Baltimore,100820,103080,103411,104078,104423,104838,106852
4,"Boise City, ID (00-14260)",10580,2.70000004768372,53.76,111810,7.80000019073486,22.64,30.15,41.56,60.36,...,28.4099998474121,0.829999983310699,Boise,23384,23737,23506,24048,25387,25749,26592
5,"Boston-Cambridge-Nashua, MA-NH (00-71650)",136640,1.29999995231628,61.92,128790,0.899999976158142,33.19,43.83,60.66,77.69,...,49.4720001220703,1.45000004768372,Boston,262166,269471,266245,266780,270775,268934,274023
6,"Buffalo-Cheektowaga-Niagara Falls, NY (00-15380)",11770,1.39999997615814,46.88,97510,0.800000011920929,23.48,31.71,43.26,59,...,22.3320007324219,0.660000026226044,Buffalo,24205,23689,22550,22815,23981,24550,25255
7,"Charleston, WV (00-16620)",2540,4,36.92,76790,1.70000004768372,19.45,24.23,32.45,45.94,...,24.7229995727539,0.730000019073486,Charleston,17654,17614,17890,17759,19162,19588,20468
8,"Charleston-North Charleston, SC (00-16700)",11770,2.79999995231628,49.1,102120,1.29999995231628,24.33,33.72,46.41,60.59,...,31.4039993286133,0.920000016689301,Charleston,17654,17614,17890,17759,19162,19588,20468
9,"Charlotte-Concord-Gastonia, NC-SC (00-16740)",60370,0.899999976158142,55.78,116020,0.5,28.47,39.38,55.06,68.69,...,46.0379981994629,1.35000002384186,Charlotte,79401,79943,83419,85263,89246,90859,93806
10,"Charlottesville, VA (00-16820)",4060,2.09999990463257,51.25,106600,1.20000004768372,26.96,36.87,48.83,62.18,...,36.0779991149902,1.05999994277954,Charlotte,79401,79943,83419,85263,89246,90859,93806
11,"Chicago-Naperville-Elgin, IL-IN-WI (00-16980)",129090,1.60000002384186,52.15,108470,0.699999988079071,26.14,36,49.4,64.39,...,28.6429996490479,0.839999973773956,Chicago,245968,248120,241768,238965,246517,245800,247935
12,"Cleveland, TN (00-17420)",540,3.79999995231628,37.11,77190,2,18.69,23.71,33.72,46.83,...,12.1180000305176,0.360000014305115,Cleveland,51133,51580,51170,51858,52708,52318,53085
13,"Cleveland-Elyria, OH (00-17460)",28190,3.29999995231628,45.87,95400,0.899999976158142,23.84,31.55,43.62,58.8,...,28.201000213623,0.829999983310699,Cleveland,51133,51580,51170,51858,52708,52318,53085
14,"Colorado Springs, CO (00-17820)",16620,2.90000009536743,55.32,115070,1,29.89,39.72,51.76,67.69,...,53.5550003051758,1.57000005245209,Colorado Springs,24946,25114,25405,26180,27954,28466,29201
15,"Columbus, GA-AL (00-17980)",3780,2.20000004768372,45.4,94430,1.39999997615814,22.84,32.59,45.02,56.71,...,33.1529998779297,0.97000002861023,Columbus,62389,62576,61552,61493,62155,62144,62806
16,"Columbus, IN (00-18020)",920,2.20000004768372,42.3,87970,1,22.4,29.57,39.7,50.67,...,18.1049995422363,0.529999971389771,Columbus,62389,62576,61552,61493,62155,62144,62806
17,"Columbus, OH (00-18140)",38580,1.39999997615814,49.11,102150,1,23.74,32.96,48.06,62.67,...,36.1479988098145,1.05999994277954,Columbus,62389,62576,61552,61493,62155,62144,62806
18,"Dallas-Fort Worth-Arlington, TX (00-19100)",188520,1.20000004768372,53.37,111010,0.800000011920929,25.12,36.76,50.58,65.77,...,47.5289993286133,1.38999998569489,Dallas,287379,301240,310364,324080,349631,360322,375540
19,"Denver-Aurora-Lakewood, CO (00-19740)",87630,1.70000004768372,57.59,119780,1.5,30.66,41.6,54.35,69.31,...,55.101001739502,1.62000000476837,Denver,139004,143259,145355,149931,159015,160057,165731
20,"Des Moines-West Des Moines, IA (00-19780)",17590,2.70000004768372,48.8,101500,0.899999976158142,24.87,34.15,47.66,60.16,...,45.8919982910156,1.35000002384186,Des Moines,23455,23559,23850,23851,24681,24908,25359
21,"Detroit-Warren-Dearborn, MI (00-19820)",63690,2.09999990463257,48.33,100520,0.600000023841858,25.14,35.63,48.2,62.12,...,33.5190010070801,0.980000019073486,Detroit,105625,105752,101799,101851,104124,103896,104172
22,"Hartford-West Hartford-East Hartford, CT (00-7...",21780,2.09999990463257,53.54,111360,0.800000011920929,29.24,38.84,51.22,65.19,...,38.6339988708496,1.12999999523163,Hartford,37716,38106,37812,37253,38165,38515,38979
23,"Houston-The Woodlands-Sugar Land, TX (00-26420)",87400,1.60000002384186,50.41,104850,1,23.49,31.57,46.94,63.71,...,27.4869995117187,0.810000002384186,Houston,131320,136620,137780,140676,149152,152084,155660
24,"Huntsville, AL (00-26620)",19440,3.20000004768372,54.18,112700,1,28.62,38.48,51.16,67.05,...,77.4769973754883,2.26999998092651,Huntsville,25469,26448,27081,27489,28542,28683,29135
25,"Indianapolis-Carmel-Anderson, IN (00-26900)",32950,1.79999995231628,45.31,94250,0.800000011920929,24.02,31.25,42.22,55.75,...,30.4009990692139,0.889999985694885,Indianapolis,52047,53706,53438,53706,54958,55585,56990
26,"Kansas City, MO-KS (00-28140)",43400,2.40000009536743,47.74,99310,0.899999976158142,23.74,31.74,47.02,61.98,...,40.2470016479492,1.17999994754791,Kansas City,71823,72720,75261,74891,76827,77699,78927
27,"Las Vegas-Henderson-Paradise, NV (00-29820)",18980,3.90000009536743,44.7,92970,3.40000009536743,21.59,27.33,39.27,55.9,...,17.5219993591309,0.509999990463257,Las Vegas,29085,30111,28892,30901,35167,35954,37577
28,"Los Angeles-Long Beach-Anaheim, CA (00-31080)",182580,1.10000002384186,58.9,122510,0.600000023841858,28.43,38.42,57.66,76.77,...,29.5179996490479,0.870000004768372,Los Angeles,365877,372869,366033,368539,376955,375831,378427
29,"Memphis, TN-MS-AR (00-32820)",12610,2,44.35,92240,1.39999997615814,22.01,28.57,40.38,56.9,...,20.1639995574951,0.589999973773956,Memphis,18283,18590,19173,19669,21009,21045,21450
30,"Miami-Fort Lauderdale-West Palm Beach, FL (00-...",68660,1.70000004768372,49.04,102000,0.899999976158142,22.94,31,45.28,63.16,...,25.2299995422363,0.740000009536743,Miami,113398,116927,116436,122059,132847,135965,139644
31,"Milwaukee-Waukesha-West Allis, WI (00-33340)",25060,2.09999990463257,46.66,97060,1.5,25.13,32.11,43.66,57.17,...,30.7450008392334,0.899999976158142,Milwaukee,46989,46553,44925,44842,44916,44349,44084
32,"Minneapolis-St. Paul-Bloomington, MN-WI (00-33...",78370,1.20000004768372,52.31,108800,0.600000023841858,29.29,38.43,50.45,64.02,...,41.007999420166,1.20000004768372,Minneapolis,149976,150130,147778,146168,146623,147088,148204
33,"Nashville-Davidson--Murfreesboro--Franklin, TN...",33800,2.70000004768372,45.21,94040,1.60000002384186,23.18,30.31,41.96,58.52,...,31.4489994049072,0.920000016689301,Nashville,45996,48578,50643,51876,58546,60502,63391
34,"New Orleans-Metairie, LA (00-35380)",7880,4.09999990463257,50.34,104700,2.40000009536743,22.17,30.31,41.63,55.24,...,15.3159999847412,0.449999988079071,New Orleans,14780,15501,15709,15968,17456,17760,18261
35,"New York-Newark-Jersey City, NY-NJ-PA (00-35620)",327120,1.79999995231628,62.74,130500,0.600000023841858,29.68,41.89,61.04,80.37,...,34.451000213623,1.00999999046326,New York,533740,545154,542142,549565,585879,594191,613861
36,"Oklahoma City, OK (00-36420)",18920,1.70000004768372,43.37,90200,1.70000004768372,21.95,28.6,39.18,53.8,...,28.806999206543,0.839999973773956,Oklahoma City,25019,25137,25355,25603,27311,28211,28722
37,"Omaha-Council Bluffs, NE-IA (00-36540)",19190,2.20000004768372,46.81,97350,1.29999995231628,25.04,32.98,46.38,59.97,...,39.6529998779297,1.1599999666214,Omaha,30780,30956,31357,31767,31676,31085,31174
38,"Orlando-Kissimmee-Sanford, FL (00-36740)",40250,1,48.27,100400,1.20000004768372,23.02,31.51,46.47,61.11,...,29.451000213623,0.860000014305115,Orlando,64416,65592,65152,67509,71942,73922,76085
39,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD (0...",88650,1.10000002384186,52.15,108470,0.800000011920929,26.32,35.97,49.44,64.98,...,31.3299999237061,0.920000016689301,Philadelphia,155318,158092,157334,154522,158476,157986,159251
40,"Phoenix-Mesa-Scottsdale, AZ (00-38060)",86700,2.09999990463257,51.08,106240,1.20000004768372,24.11,33.43,48.91,63.6,...,37.8759994506836,1.11000001430511,Phoenix,145009,151289,156659,160193,168018,168694,172709
41,"Pittsburgh, PA (00-38300)",30760,1.29999995231628,45.54,94730,1,22.82,30.44,41.19,58.37,...,28.6979999542236,0.839999973773956,Pittsburgh,62564,62640,60803,59768,58860,58646,58884
42,"Portland-South Portland, ME (00-76750)",6740,2.40000009536743,45.75,95170,1.5,26.35,32.06,41.75,55.09,...,32.5460014343262,0.949999988079071,Portland,106453,109613,110652,114225,119784,120406,123486
43,"Portland-Vancouver-Hillsboro, OR-WA (00-38900)",47220,2,55.07,114550,1.5,28.13,37.76,52.06,68.45,...,39.1479988098145,1.14999997615814,Portland,106453,109613,110652,114225,119784,120406,123486
44,"Providence-Warwick, RI-MA (00-77200)",16970,4.5,52.89,110020,1.89999997615814,27.82,37.62,50.65,65.88,...,29.7980003356934,0.870000004768372,Providence,32380,32648,31776,32783,33824,34024,34627
45,"Raleigh, NC (00-39580)",41180,1.20000004768372,55.22,114870,1.5,28.39,39.07,52.92,66.02,...,58.6139984130859,1.72000002861023,Raleigh,70469,72432,67960,70221,73624,75041,77377
46,"Sacramento--Roseville--Arden-Arcade, CA (00-40...",45060,2.09999990463257,50.2,104420,0.600000023841858,31.33,36.24,46.08,60.16,...,42.9900016784668,1.25999999046326,Sacramento,53849,55444,54677,54954,55669,55368,55709
47,"Salt Lake City, UT (00-41620)",37850,3.20000004768372,51.1,106300,1.70000004768372,23.64,33.09,47.64,64.46,...,47.0839996337891,1.37999999523163,Salt Lake City,56440,59834,61401,64614,69272,69826,73038
48,"San Antonio-New Braunfels, TX (00-41700)",30740,1.89999997615814,47.51,98830,1.20000004768372,23,30.79,45.71,61.02,...,28.1609992980957,0.829999983310699,San Antonio,47249,48909,49618,50578,52728,53290,55069
49,"San Diego-Carlsbad, CA (00-41740)",59340,0.899999976158142,60.1,125010,0.699999988079071,29.2,40.69,59.06,76.79,...,38.9749984741211,1.13999998569489,San Diego,112140,115797,115367,119129,121418,121128,123237
50,"San Francisco-Oakland-Hayward, CA (00-41860)",181740,1.20000004768372,76.18,158450,0.600000023841858,37.15,56.45,78.79,97.11,...,75.0329971313477,2.20000004768372,San Francisco,315488,334141,337971,345502,368407,365494,380190
51,"San Jose-Sunnyvale-Santa Clara, CA (00-41940)",161790,0.899999976158142,88.68,184460,0.400000005960465,49.38,68.67,84.19,101.87,...,141.697998046875,4.15999984741211,San Jose,333891,348518,351523,352752,366574,364882,374138
52,"Seattle-Tacoma-Bellevue, WA (00-42660)",171820,1.70000004768372,69.49,144530,0.899999976158142,35.52,48.59,67.68,83.35,...,82.6439971923828,2.42000007629395,Seattle,248251,260871,266359,269109,288329,287621,298361
53,"St. Louis, MO-IL (00-41180)",45330,2,45.35,94330,0.899999976158142,22.33,28.87,42.76,59.78,...,34.2019996643066,1,St. Louis,74122,75192,75731,75557,77818,78129,78905
54,"Trenton, NJ (00-45940)",11610,1.79999995231628,54.43,113210,0.899999976158142,29.18,37.89,50.18,66.38,...,48.6839981079102,1.42999994754791,Trenton,17137,17408,17474,17817,18658,18541,18764
55,"Washington DC-Arlington-Alexandria, DC-VA-MD-W...",239700,1.10000002384186,62.96,130950,1.29999995231628,33.89,46.17,62.4,79.27,...,77.5210037231445,2.26999998092651,Washington DC,355920,363985,366221,367527,375358,376034,380232

### 1. Add ***Tech Job Growth Column*** & ***Entry Level Wage Average (10th and 25th Percentile)***

In [91]:
import pandas as pd
Merged_Output = pd.read_excel("merged_output.xlsx")
Merged_Output.rename(columns={'Employment Employment_percent_relative_standard_error Hourly_mean_wage Annual_mean_wage Wage_percent_relative_standard_error Hourly_10th_percentile_wage Hourly_25th_percentile_wage Hourly_median_wage Hourly_75th_percentile_wage Hourly_90th_percentile_wage Annual_10th_percentile_wage_(2) Annual_25th_percentile_wage_(2) Annual_median_wage_(2) Annual_75th_percentile_wage_(2) Annual_90th_percentile_wage_(2) Employment_per_1,000_jobs Location_Quotient': 'Employment_Total'}, inplace=True)
Merged_Output.rename(columns={'Employment_per_Thousand_Jobs': 'Employment_per_1k_jobs'}, inplace=True)



final_value = Merged_Output['2023']
intial_value = Merged_Output['2018']
years = 6

Merged_Output['Average_7_Year_Growth_Rate'] = (((final_value / intial_value) ** (1 / years) - 1) * 100).round(3)
Merged_Output['Entry_Level_Tech_Wage'] = (Merged_Output['Annual_10th_percentile_wage'] + Merged_Output['Annual_25th_percentile_wage'])/2

# Optionally, you can save the result to a new Excel file
Merged_Output.to_excel("updated_output.xlsx", index=False)

df4 = pd.read_excel('updated_output.xlsx')
df4.head()

,Area_Name,Employment_Total,Employment_percent_relative_standard_error,Hourly_mean_wage,Annual_mean_wage,Wage_percent_relative_standard_error,Hourly_10th_percentile_wage,Hourly_25th_percentile_wage,Hourly_median_wage,Hourly_75th_percentile_wage,...,City,2018,2019,2020,2021,2022,2023,2024,Average_7_Year_Growth_Rate,Entry_Level_Tech_Wage
0,"Albuquerque, NM (00-10740)",11730,3.3,46.70,97140,2.4,20.90,30.12,42.53,61.91,...,Albuquerque,20534,21211,21437,21778,22898,23276,23596,2.111,53065
1,"Atlanta-Sandy Springs-Roswell, GA (00-12060)",120180,1.5,52.50,109210,0.7,26.05,36.34,50.12,65.40,...,Atlanta,209965,215036,214425,217589,227821,229584,235268,1.500,64890
2,"Austin-Round Rock, TX (00-12420)",81150,1.4,53.60,111490,2.6,24.43,35.07,50.64,67.85,...,Austin,135358,144514,151594,157572,176248,180507,190186,4.914,61875
3,"Baltimore-Columbia-Towson, MD (00-12580)",64180,1.8,61.76,128450,3.4,30.93,42.44,60.23,77.72,...,Baltimore,100820,103080,103411,104078,104423,104838,106852,0.653,76300
4,"Boise City, ID (00-14260)",10580,2.7,53.76,111810,7.8,22.64,30.15,41.56,60.36,...,Boise,23384,23737,23506,24048,25387,25749,26592,1.619,54905

### Final Clean

In [92]:
# Drop columns from Merged_Output or df3
df4.drop(['Employment_percent_relative_standard_error', 'Hourly_mean_wage', 'Annual_mean_wage', 'Wage_percent_relative_standard_error', 'Hourly_10th_percentile_wage', 'Hourly_25th_percentile_wage', 
                   'Hourly_median_wage', 'Hourly_75th_percentile_wage', 'Hourly_90th_percentile_wage', 
                   'Annual_10th_percentile_wage', 'Annual_median_wage', 'Annual_75th_percentile_wage', 
                   'Annual_90th_percentile_wage', 'Annual_25th_percentile_wage', 'City', '2018', '2019', '2020', '2021', '2022', '2023', '2024'], axis=1, inplace=True)

# Saving the DataFrame back to Excel if needed
df4.to_excel("Final_Tech_Data.xlsx", index=False)

df5 = pd.read_excel("Final_Tech_Data.xlsx")

df5

,Area_Name,Employment_Total,Employment_per_1k_jobs,Location_Quotient,Average_7_Year_Growth_Rate,Entry_Level_Tech_Wage
0,"Albuquerque, NM (00-10740)",11730,29.632000,0.87,2.111,53065
1,"Atlanta-Sandy Springs-Roswell, GA (00-12060)",120180,42.652000,1.25,1.500,64890
2,"Austin-Round Rock, TX (00-12420)",81150,65.685997,1.93,4.914,61875
3,"Baltimore-Columbia-Towson, MD (00-12580)",64180,49.203999,1.44,0.653,76300
4,"Boise City, ID (00-14260)",10580,28.410000,0.83,1.619,54905
5,"Boston-Cambridge-Nashua, MA-NH (00-71650)",136640,49.472000,1.45,0.426,80095
6,"Buffalo-Cheektowaga-Niagara Falls, NY (00-15380)",11770,22.332001,0.66,0.236,57395
7,"Charleston, WV (00-16620)",2540,24.723000,0.73,1.748,45425
8,"Charleston-North Charleston, SC (00-16700)",11770,31.403999,0.92,1.748,60380
9,"Charlotte-Concord-Gastonia, NC-SC (00-16740)",60370,46.037998,1.35,2.272,70565
10,"Charlottesville, VA (00-16820)",4060,36.077999,1.06,2.272,66380
11,"Chicago-Naperville-Elgin, IL-IN-WI (00-16980)",129090,28.643000,0.84,-0.011,64625
12,"Cleveland, TN (00-17420)",540,12.118000,0.36,0.383,44105
13,"Cleveland-Elyria, OH (00-17460)",28190,28.201000,0.83,0.383,57600
14,"Colorado Springs, CO (00-17820)",16620,53.555000,1.57,2.224,72390
15,"Columbus, GA-AL (00-17980)",3780,33.153000,0.97,-0.066,57650
16,"Columbus, IN (00-18020)",920,18.105000,0.53,-0.066,54045
17,"Columbus, OH (00-18140)",38580,36.147999,1.06,-0.066,58965
18,"Dallas-Fort Worth-Arlington, TX (00-19100)",188520,47.528999,1.39,3.842,64360
19,"Denver-Aurora-Lakewood, CO (00-19740)",87630,55.101002,1.62,2.378,75145
20,"Des Moines-West Des Moines, IA (00-19780)",17590,45.891998,1.35,1.007,61380
21,"Detroit-Warren-Dearborn, MI (00-19820)",63690,33.519001,0.98,-0.275,63195
22,"Hartford-West Hartford-East Hartford, CT (00-7...",21780,38.633999,1.13,0.350,70795
23,"Houston-The Woodlands-Sugar Land, TX (00-26420)",87400,27.487000,0.81,2.477,57265
24,"Huntsville, AL (00-26620)",19440,77.476997,2.27,2.000,69785
25,"Indianapolis-Carmel-Anderson, IN (00-26900)",32950,30.400999,0.89,1.102,57480
26,"Kansas City, MO-KS (00-28140)",43400,40.247002,1.18,1.319,57705
27,"Las Vegas-Henderson-Paradise, NV (00-29820)",18980,17.521999,0.51,3.597,50880
28,"Los Angeles-Long Beach-Anaheim, CA (00-31080)",182580,29.518000,0.87,0.448,69520
29,"Memphis, TN-MS-AR (00-32820)",12610,20.164000,0.59,2.373,52600
30,"Miami-Fort Lauderdale-West Palm Beach, FL (00-...",68660,25.230000,0.74,3.071,56090
31,"Milwaukee-Waukesha-West Allis, WI (00-33340)",25060,30.745001,0.90,-0.959,59530
32,"Minneapolis-St. Paul-Bloomington, MN-WI (00-33...",78370,41.007999,1.20,-0.324,70425
33,"Nashville-Davidson--Murfreesboro--Franklin, TN...",33800,31.448999,0.92,4.675,55635
34,"New Orleans-Metairie, LA (00-35380)",7880,15.316000,0.45,3.109,54575
35,"New York-Newark-Jersey City, NY-NJ-PA (00-35620)",327120,34.451000,1.01,1.804,74430
36,"Oklahoma City, OK (00-36420)",18920,28.806999,0.84,2.021,52570
37,"Omaha-Council Bluffs, NE-IA (00-36540)",19190,39.653000,1.16,0.164,60345
38,"Orlando-Kissimmee-Sanford, FL (00-36740)",40250,29.451000,0.86,2.321,56700
39,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD (0...",88650,31.330000,0.92,0.284,64780
40,"Phoenix-Mesa-Scottsdale, AZ (00-38060)",86700,37.875999,1.11,2.554,59845
41,"Pittsburgh, PA (00-38300)",30760,28.698000,0.84,-1.072,55395
42,"Portland-South Portland, ME (00-76750)",6740,32.546001,0.95,2.074,60745
43,"Portland-Vancouver-Hillsboro, OR-WA (00-38900)",47220,39.147999,1.15,2.074,68520
44,"Providence-Warwick, RI-MA (00-77200)",16970,29.798000,0.87,0.829,68055
45,"Raleigh, NC (00-39580)",41180,58.613998,1.72,1.053,70155
46,"Sacramento--Roseville--Arden-Arcade, CA (00-40...",45060,42.990002,1.26,0.465,70270
47,"Salt Lake City, UT (00-41620)",37850,47.084000,1.38,3.611,59000
48,"San Antonio-New Braunfels, TX (00-41700)",30740,28.160999,0.83,2.026,55940
49,"San Diego-Carlsbad, CA (00-41740)",59340,38.974998,1.14,1.293,72685
50,"San Francisco-Oakland-Hayward, CA (00-41860)",181740,75.032997,2.20,2.482,97340
51,"San Jose-Sunnyvale-Santa Clara, CA (00-41940)",161790,141.697998,4.16,1.490,122770
52,"Seattle-Tacoma-Bellevue, WA (00-42660)",171820,82.643997,2.42,2.484,87475
53,"St. Louis, MO-IL (00-41180)",45330,34.202000,1.00,0.881,53250
54,"Trenton, NJ (00-45940)",11610,48.683998,1.43,1.321,69745
55,"Washington DC-Arlington-Alexandria, DC-VA-MD-W...",239700,77.521004,2.27,0.920,83255

### Calculate "Tech Friendly Index"

In [93]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Convert the data into a pandas DataFrame
df5 = pd.read_excel("Final_Tech_Data.xlsx")

# Define weights (these can be adjusted)
weights = {
    'Entry_Level_Tech_Wage': 0.35,
    'Employment_per_1k_jobs': 0.25,
    'Employment_Total': 0.15,
    'Location_Quotient': 0.15,
    'Average_7_Year_Growth_Rate': 0.15,
}

# Normalize the data (assuming the data is not normalized yet)
scaler = MinMaxScaler()

# Normalize the relevant columns (excluding the 'Area' column)
columns_to_normalize = ['Employment_Total', 'Entry_Level_Tech_Wage', 'Employment_per_1k_jobs', 'Location_Quotient', 'Average_7_Year_Growth_Rate']
df5[columns_to_normalize] = scaler.fit_transform(df5[columns_to_normalize])

# Calculate the Tech Friendly Index for each area using a weighted sum
df5['Tech_Friendly_Index'] = (
    weights['Employment_Total'] * df5['Employment_Total'] +
    weights['Entry_Level_Tech_Wage'] * df5['Entry_Level_Tech_Wage'] +
    weights['Employment_per_1k_jobs'] * df5['Employment_per_1k_jobs'] +
    weights['Location_Quotient'] * df5['Location_Quotient'] +
    weights['Average_7_Year_Growth_Rate'] * df5['Average_7_Year_Growth_Rate'] 
) *100

# Display the DataFrame with the calculated Tech Friendly Index
df5[['Area_Name', 'Tech_Friendly_Index']]

                                            Area_Name  Tech_Friendly_Index
0                          Albuquerque, NM (00-10740)            17.868751
1        Atlanta-Sandy Springs-Roswell, GA (00-12060)            30.592043
2                    Austin-Round Rock, TX (00-12420)            43.141070
3            Baltimore-Columbia-Towson, MD (00-12580)            32.988154
4                           Boise City, ID (00-14260)            17.008059
5           Boston-Cambridge-Nashua, MA-NH (00-71650)            37.527123
6    Buffalo-Cheektowaga-Niagara Falls, NY (00-15380)            12.861305
7                           Charleston, WV (00-16620)            11.638072
8          Charleston-North Charleston, SC (00-16700)            20.754832
9        Charlotte-Concord-Gastonia, NC-SC (00-16740)            33.352399
10                     Charlottesville, VA (00-16820)            25.837710
11      Chicago-Naperville-Elgin, IL-IN-WI (00-16980)            22.775852
12                           Cleveland, TN (00-17420)             3.646007
13                    Cleveland-Elyria, OH (00-17460)            15.878418
14                    Colorado Springs, CO (00-17820)            34.353328
15                         Columbus, GA-AL (00-17980)            15.162401
16                            Columbus, IN (00-18020)             8.787017
17                            Columbus, OH (00-18140)            18.278951
18         Dallas-Fort Worth-Arlington, TX (00-19100)            40.857376
19              Denver-Aurora-Lakewood, CO (00-19740)            39.722164
20          Des Moines-West Des Moines, IA (00-19780)            24.102792
21             Detroit-Warren-Dearborn, MI (00-19820)            19.967572
22  Hartford-West Hartford-East Hartford, CT (00-7...            24.569151
23    Houston-The Woodlands-Sugar Land, TX (00-26420)            23.479460
24                          Huntsville, AL (00-26620)            40.140966
25        Indianapolis-Carmel-Anderson, IN (00-26900)            18.506651
26                      Kansas City, MO-KS (00-28140)            22.674838
27        Las Vegas-Henderson-Paradise, NV (00-29820)            17.195828
28      Los Angeles-Long Beach-Anaheim, CA (00-31080)            28.848003
29                       Memphis, TN-MS-AR (00-32820)            15.426877
30  Miami-Fort Lauderdale-West Palm Beach, FL (00-...            22.872647
31       Milwaukee-Waukesha-West Allis, WI (00-33340)            13.997646
32  Minneapolis-St. Paul-Bloomington, MN-WI (00-33...            26.049133
33  Nashville-Davidson--Murfreesboro--Franklin, TN...            26.998810
34                New Orleans-Metairie, LA (00-35380)            16.444694
35   New York-Newark-Jersey City, NY-NJ-PA (00-35620)            42.573675
36                       Oklahoma City, OK (00-36420)            17.475638
37             Omaha-Council Bluffs, NE-IA (00-36540)            19.649659
38           Orlando-Kissimmee-Sanford, FL (00-36740)            21.247825
39  Philadelphia-Camden-Wilmington, PA-NJ-DE-MD (0...            22.560804
40             Phoenix-Mesa-Scottsdale, AZ (00-38060)            27.976735
41                          Pittsburgh, PA (00-38300)            11.504754
42             Portland-South Portland, ME (00-76750)            21.841853
43     Portland-Vancouver-Hillsboro, OR-WA (00-38900)            29.223615
44               Providence-Warwick, RI-MA (00-77200)            21.598378
45                             Raleigh, NC (00-39580)            33.120772
46  Sacramento--Roseville--Arden-Arcade, CA (00-40...            27.046567
47                      Salt Lake City, UT (00-41620)            30.848045
48           San Antonio-New Braunfels, TX (00-41700)            19.366355
49                  San Diego-Carlsbad, CA (00-41740)            29.603487
50       San Francisco-Oakland-Hayward, CA (00-41860)            60.315374
51      San Jose-Sunnyvale-Santa Clara, CA (00-41940)            88.826282
52             Seattle-Tacoma-Bellevue, WA (00-42660)            57.812392
53                        St. Louis, MO-IL (00-41180)            17.806989
54                             Trenton, NJ (00-45940)            29.191211
55  Washington DC-Arlington-Alexandria, DC-VA-MD-W...            53.552941

# Confortable Living Index

In [100]:
import pandas as pd

COL = pd.read_csv("Cost_of_Living.csv")
COL

           City State  Cost of Living Index
0       Abilene    TX                  89.1
1        Adrian    MI                  90.5
2         Akron    OH                  89.4
3    Alamogordo    NM                  85.8
4        Albany    GA                  87.3
..          ...   ...                   ...
505    Wheeling    WV                  84.1
506  New London    CT                 105.9
507      Daphne    AL                  96.6
508    Victoria    TX                  89.5
509    Aberdeen    WA                  97.6

[510 rows x 3 columns]

In [95]:
import pandas as pd

TB = pd.read_excel("Tax_Burden.xlsx")
TB["Total_Tax_Burden"] = (TB["Total_Tax_Burden"]*100).round(2)
TB.head()

,State,Total_Tax_Burden,Property_Tax_Burden,Individual_Income_Tax_Burden,Total_Sales_&_Excise_Tax_Burden
0,NY,12.02,0.0436,0.0463,0.0303
1,HI,11.80,0.0264,0.0382,0.0534
2,VT,11.12,0.0485,0.0309,0.0318
3,ME,10.74,0.0486,0.0259,0.0329
4,CA,10.40,0.0273,0.0487,0.0280

In [96]:
import pandas as pd

CR = pd.read_excel("Crime_Rate.xlsx")
CR

,State,Cities,Population,Total_Crime_Per_Capita,Murder,Rape,Robbery,Aggravated_assault,Violent_Crime_Total,Burglary,Larceny_theft,Vehicle_theft,Property_Crime_Total
0,New Mexico,Albuquerque,561375,8734.98,12.47,84.26,521.93,750.48,1369.14,1246.23,4750.84,1368.78,7365.84
1,Tennessee,Memphis,652765,8357.07,27.73,90.38,529.59,1355.62,2003.32,1460.25,4224.49,613.08,6297.83
2,Missouri,St. Louis,310284,8188.31,66.07,93.14,626.52,1296.55,2082.29,1011.33,4155.55,874.36,6041.24
3,Washington,Spokane,217066,7881.01,2.76,109.64,105.50,408.63,626.54,1023.19,5408.03,800.22,7231.44
4,California,Oakland,424915,7328.29,16.24,94.14,629.77,559.17,1299.32,617.06,4072.58,1293.20,5982.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Texas,Denton,290413,1892.14,5.17,27.89,40.98,75.75,149.79,250.68,1366.33,116.73,1733.74
97,California,Chula Vista,271109,1738.79,0.74,22.87,112.13,162.30,298.04,236.07,915.50,280.70,1432.27
98,California,Santa Clarita,216350,1592.79,1.85,18.49,56.39,85.97,162.70,311.53,923.04,189.51,1424.08
99,Arizona,Gilbert,242090,1483.75,2.07,16.11,21.07,46.26,85.51,192.49,1137.59,55.76,1385.85
100,California,Irvine,276115,1381.31,0.72,16.66,19.92,23.90,61.21,227.08,1019.14,70.26,1316.48

efddf

In [97]:
import pandas as pd
import sqlite3

# Load the Excel files into Pandas DataFrames
COC = pd.read_csv("Cost_of_Living.csv")
TB = pd.read_excel("Tax_Burden.xlsx")
CR = pd.read_excel("Crime_Rate.xlsx").round(2)

TB["Total_Tax_Burden"] = (TB["Total_Tax_Burden"]*100).round(2)

# Create an in-memory SQLite database
conn = sqlite3.connect(":memory:")  # This avoids creating a physical file

# Load DataFrames into SQLite tables
COC.to_sql("Cost_of_Living", conn, if_exists="replace", index=False)
TB.to_sql("Tax_Burden", conn, if_exists="replace", index=False)
CR.to_sql("Crime_Rate", conn, if_exists="replace", index=False)

# SQL Query to merge the data based on matching names (Area_Name, City, Location)
query = """
SELECT *
FROM Cost_of_Living
JOIN Tax_Burden
ON Cost_of_Living.State == Tax_Burden.State
JOIN Crime_Rate
ON Cost_of_Living.City == Crime_Rate.Cities
ORDER BY State
"""



# Load the merged result back into a Pandas DataFrame
merged_df = pd.read_sql(query, conn)

# Close the connection
conn.close()

# Save or analyze the merged data
merged_df.to_excel("New_Comfort_Index.xlsx", index=False)  # Save as Excel
merged_df  # Display first few rows

,City,State,Cost of Living Index,State,Total_Tax_Burden,Property_Tax_Burden,Individual_Income_Tax_Burden,Total_Sales_&_Excise_Tax_Burden,State,Cities,...,Total_Crime_Per_Capita,Murder,Rape,Robbery,Aggravated_assault,Violent_Crime_Total,Burglary,Larceny_theft,Vehicle_theft,Property_Crime_Total
0,Anchorage,AK,110.7,AK,4.93,0.0354,0.0000,0.0139,Alaska,Anchorage,...,6640.04,9.12,132.01,262.67,799.49,1203.29,748.17,3619.66,1047.98,5415.82
1,Phoenix,AZ,104.3,AZ,7.79,0.0226,0.0162,0.0391,Arizona,Phoenix,...,4443.20,9.55,69.46,200.28,481.64,760.93,778.57,2426.69,465.46,3670.71
2,Tucson,AZ,97.7,AZ,7.79,0.0226,0.0162,0.0391,Arizona,Tucson,...,6082.78,8.64,93.55,268.82,430.75,801.77,831.07,3968.46,452.17,5251.70
3,Bakersfield,CA,102.9,CA,10.40,0.0273,0.0487,0.0280,California,Bakersfield,...,4618.34,10.76,24.14,197.56,246.88,479.33,962.08,2377.78,728.58,4068.43
4,Fresno,CA,105.9,CA,10.40,0.0273,0.0487,0.0280,California,Fresno,...,4447.63,10.64,33.06,182.00,339.30,565.00,693.24,2618.31,529.85,3841.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Virginia Beach,VA,99.0,VA,8.45,0.0289,0.0298,0.0258,Virginia,Virginia Beach,...,2083.40,3.08,22.45,59.87,52.16,137.56,165.95,1667.65,101.02,1934.62
65,Seattle,WA,124.6,WA,8.04,0.0258,0.0000,0.0546,Washington,Seattle,...,5911.99,3.74,36.87,210.02,382.05,632.69,1081.98,3673.45,503.21,5258.64
66,Spokane,WA,100.4,WA,8.04,0.0258,0.0000,0.0546,Washington,Spokane,...,7881.01,2.76,109.64,105.50,408.63,626.54,1023.19,5408.03,800.22,7231.44
67,Madison,WI,99.5,WI,8.32,0.0298,0.0257,0.0277,Wisconsin,Madison,...,3040.46,4.30,37.13,82.86,250.15,374.44,362.32,2130.94,168.85,2662.11
68,Milwaukee,WI,93.8,WI,8.32,0.0298,0.0257,0.0277,Wisconsin,Milwaukee,...,5441.99,19.83,72.92,490.45,1014.17,1597.36,927.13,1940.29,924.61,3792.04

In [98]:
Comfort_Index = pd.read_excel('New_Comfort_Index.xlsx')
Comfort_Index.drop(['State.1','State.2', 'Property_Tax_Burden', 'Individual_Income_Tax_Burden', 'Total_Sales_&_Excise_Tax_Burden', 'Population', 'Cities', 'Murder', 'Rape', 'Robbery', 'Aggravated_assault', 'Burglary', 'Larceny_theft', 'Vehicle_theft'], axis=1, errors='ignore', inplace=True)
Comfort_Index

,City,State,Cost of Living Index,Total_Tax_Burden,Total_Crime_Per_Capita,Violent_Crime_Total,Property_Crime_Total
0,Anchorage,AK,110.7,4.93,6640.04,1203.29,5415.82
1,Phoenix,AZ,104.3,7.79,4443.20,760.93,3670.71
2,Tucson,AZ,97.7,7.79,6082.78,801.77,5251.70
3,Bakersfield,CA,102.9,10.40,4618.34,479.33,4068.43
4,Fresno,CA,105.9,10.40,4447.63,565.00,3841.40
...,...,...,...,...,...,...,...
64,Virginia Beach,VA,99.0,8.45,2083.40,137.56,1934.62
65,Seattle,WA,124.6,8.04,5911.99,632.69,5258.64
66,Spokane,WA,100.4,8.04,7881.01,626.54,7231.44
67,Madison,WI,99.5,8.32,3040.46,374.44,2662.11
68,Milwaukee,WI,93.8,8.32,5441.99,1597.36,3792.04

In [99]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Convert data to a DataFrame (you should have your Comfort_Index data here)
df7 = pd.DataFrame(Comfort_Index)

# Step 2: Normalize the data using MinMaxScaler
scaler = MinMaxScaler()

# Normalize data (Cost of Living, Tax Burden, and Crime Rate)
normalized_data = scaler.fit_transform(df7[['Cost of Living Index', 'Total_Tax_Burden', 'Total_Crime_Per_Capita']])

# Add normalized values back to the DataFrame
df7[['Normalized_COL', 'Normalized_Tax', 'Normalized_Crime']] = normalized_data

# Step 3: Adjust values to reverse the logic for "Cost of Living" and "Tax Burden"
df7['Normalized_COL'] = 1 - df7['Normalized_COL']  # Lower cost of living is better
df7['Normalized_Tax'] = 1 - df7['Normalized_Tax']  # Lower tax burden is better
df7['Normalized_Crime'] = 1 - df7['Normalized_Crime']  # Lower crime rate is better


# Step 4: Apply weights for each factor
weights = {
    'Cost of Living Index': 0.5,
    'Total_Tax_Burden': 0.3,
    'Total_Crime_Per_Capita': 0.15
}

# Step 5: Calculate the Comfort Level Index for each city
df7['Comfort_Level_Index'] = (
    df7['Normalized_COL'] * weights['Cost of Living Index'] +
    df7['Normalized_Tax'] * weights['Total_Tax_Burden'] +
    df7['Normalized_Crime'] * weights['Total_Crime_Per_Capita']
) * 100  # Multiply by 100 to scale the index to a 0-100 range

# Step 6: Show the results
df7[['City', 'Comfort_Level_Index', 'Cost of Living Index', 'Total_Tax_Burden', 'Total_Crime_Per_Capita']]

,City,Comfort_Level_Index,Cost of Living Index,Total_Tax_Burden,Total_Crime_Per_Capita
0,Anchorage,71.599483,110.7,4.93,6640.04
1,Phoenix,67.863660,104.3,7.79,4443.20
2,Tucson,67.809653,97.7,7.79,6082.78
3,Bakersfield,57.192289,102.9,10.40,4618.34
4,Fresno,55.939576,105.9,10.40,4447.63
...,...,...,...,...,...
64,Virginia Beach,73.200514,99.0,8.45,2083.40
65,Seattle,52.496026,124.6,8.04,5911.99
66,Spokane,61.285284,100.4,8.04,7881.01
67,Madison,71.350958,99.5,8.32,3040.46
68,Milwaukee,69.113437,93.8,8.32,5441.99