# Upload Data Sets (Tech_Hub)

## Data Sets

In [49]:
import pandas as pd

# Load the Excel files into Pandas DataFrames
df1 = pd.read_excel("Metropolitan_Data_on_Tech.xlsx")
df1.rename(columns={'Employment Employment_percent_relative_standard_error Hourly_mean_wage Annual_mean_wage Wage_percent_relative_standard_error Hourly_10th_percentile_wage Hourly_25th_percentile_wage Hourly_median_wage Hourly_75th_percentile_wage Hourly_90th_percentile_wage Annual_10th_percentile_wage_(2) Annual_25th_percentile_wage_(2) Annual_median_wage_(2) Annual_75th_percentile_wage_(2) Annual_90th_percentile_wage_(2) Employment_per_1,000_jobs Location_Quotient': 'Employment_Total'}, inplace=True)
df1.rename(columns={'Employment_per_Thousand_Jobs': 'Employment_per_1k_jobs'}, inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 18 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Area_Name                                   538 non-null    object
 1   Employment_Total                            530 non-null    object
 2   Employment_percent_relative_standard_error  530 non-null    object
 3   Hourly_mean_wage                            530 non-null    object
 4   Annual_mean_wage                            530 non-null    object
 5   Wage_percent_relative_standard_error        530 non-null    object
 6   Hourly_10th_percentile_wage                 530 non-null    object
 7   Hourly_25th_percentile_wage                 530 non-null    object
 8   Hourly_median_wage                          530 non-null    object
 9   Hourly_75th_percentile_wage                 530 non-null    object
 10  Hourly_90th_percentile_wage                 530 non-null    object
 11  Annual_10th_percentile_wage                 530 non-null    object
 12  Annual_25th_percentile_wage                 530 non-null    object
 13  Annual_median_wage                          530 non-null    object
 14  Annual_75th_percentile_wage                 530 non-null    object
 15  Annual_90th_percentile_wage                 530 non-null    object
 16  Employment_per_1k_jobs                      530 non-null    object
 17  Location_Quotient                           530 non-null    object
dtypes: object(18)
memory usage: 76.1+ KB

In [50]:
import pandas as pd

# Load the Excel files into Pandas DataFrames
df2 = pd.read_excel("Tech_Job_Gains.xlsx")

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    51 non-null     object
 1   2018    51 non-null     int64
 2   2019    51 non-null     int64
 3   2020    51 non-null     int64
 4   2021    51 non-null     int64
 5   2022    51 non-null     int64
 6   2023    51 non-null     int64
 7   2024    51 non-null     int64
dtypes: int64(7), object(1)
memory usage: 3.3+ KB

In [309]:
import pandas as pd

# Load the Excel files into Pandas DataFrames
df3 = pd.read_excel("Venture_Capitol.xlsx")

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               150 non-null    object
 1   Venture_Capital_Score  150 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.5+ KB

In [32]:
import pandas as pd

# Load the Excel files into Pandas DataFrames
df11 = pd.read_csv("top_100_us_tech_cities.csv")

df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   100 non-null    int64
 1   City                   100 non-null    object
 2   Number_of_Tech_Events  100 non-null    int64
dtypes: int64(2), object(1)
memory usage: 2.5+ KB

In [64]:
import pandas as pd

# Load the Excel files into Pandas DataFrames
df12 = pd.read_csv("top_100_us_tech_layoffs_per_capita.csv")

df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Location            100 non-null    object
 1   Population          100 non-null    int64
 2   Number_of_Layoffs   100 non-null    int64
 3   Layoffs_per_Capita  100 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.2+ KB

## Merging the Data Sets

In [91]:
import pandas as pd
import sqlite3

# Load the Excel files into Pandas DataFrames
df1 = pd.read_excel("Metropolitan_Data_on_Tech.xlsx")
df2 = pd.read_excel("Tech_Job_Gains.xlsx")
df11 = pd.read_csv("top_100_us_tech_cities.csv")
df12 = pd.read_csv("top_100_us_tech_layoffs_per_capita.csv")



# Adjust specific city names to match between datasets
df2['City'] = df2['City'].replace('New York City', 'New York')
df1['Area_Name'] = df1['Area_Name'].replace('Washington-Arlington-Alexandria, DC-VA-MD-WV (00-47900)', 
                                            'Washington DC-Arlington-Alexandria, DC-VA-MD-WV (00-47900)')

# Create an in-memory SQLite database
conn = sqlite3.connect(":memory:")

# Load DataFrames into SQLite tables
df1.to_sql("Metro_Data", conn, if_exists="replace", index=False)
df2.to_sql("Tech_Gains", conn, if_exists="replace", index=False)
df11.to_sql("Tech_Events", conn, if_exists="replace", index=False)
df12.to_sql("Tech_Layoffs", conn, if_exists="replace", index=False)


# SQL Query to merge all datasets
query = """
SELECT DISTINCT *
FROM Metro_Data 
JOIN Tech_Gains ON Metro_Data.Area_Name LIKE '%' || Tech_Gains.City || '%'
AND Metro_Data.Area_Name NOT LIKE '%nonmetropolitan%'
LEFT JOIN Tech_Layoffs ON Tech_Layoffs.Location LIKE '%' || Tech_Gains.City || '%'
LEFT JOIN Tech_Events ON Tech_Events.Spot LIKE '%' || Tech_Gains.City || '%'
GROUP BY Metro_Data.Area_Name

"""

# Load the merged result back into a Pandas DataFrame
merged_df = pd.read_sql(query, conn)

# Close the connection
conn.close()

# Save or analyze the merged data
merged_df.to_excel("merged_output.xlsx", index=False)  # Save as Excel
merged_df  # Display first few rows

,Area_Name,"Employment Employment_percent_relative_standard_error Hourly_mean_wage Annual_mean_wage Wage_percent_relative_standard_error Hourly_10th_percentile_wage Hourly_25th_percentile_wage Hourly_median_wage Hourly_75th_percentile_wage Hourly_90th_percentile_wage Annual_10th_percentile_wage_(2) Annual_25th_percentile_wage_(2) Annual_median_wage_(2) Annual_75th_percentile_wage_(2) Annual_90th_percentile_wage_(2) Employment_per_1,000_jobs Location_Quotient",Employment_percent_relative_standard_error,Hourly_mean_wage,Annual_mean_wage,Wage_percent_relative_standard_error,Hourly_10th_percentile_wage,Hourly_25th_percentile_wage,Hourly_median_wage,Hourly_75th_percentile_wage,...,2021,2022,2023,2024,Location,Population,Number_of_Layoffs,Layoffs_per_Capita,Spot,Number_of_Tech_Events
0,"Albuquerque, NM (00-10740)",11730,3.29999995231628,46.7,97140,2.40000009536743,20.9,30.12,42.53,61.91,...,21778,22898,23276,23596,"Albuquerque, NM",561188.0,3464.0,0.006173,"Albuquerque, NM",98
1,"Atlanta-Sandy Springs-Roswell, GA (00-12060)",120180,1.5,52.5,109210,0.699999988079071,26.05,36.34,50.12,65.4,...,217589,227821,229584,235268,"Atlanta, GA",5234502.0,15838.0,0.003026,"Atlanta, GA",2937
2,"Austin-Round Rock, TX (00-12420)",81150,1.39999997615814,53.6,111490,2.59999990463257,24.43,35.07,50.64,67.85,...,157572,176248,180507,190186,"Austin, TX",4391747.0,1353.0,0.000308,"Austin, TX",996
3,"Baltimore-Columbia-Towson, MD (00-12580)",64180,1.79999995231628,61.76,128450,3.40000009536743,30.93,42.44,60.23,77.72,...,104078,104423,104838,106852,"Baltimore, MD",5370385.0,5677.0,0.001057,"Baltimore, MD",1857
4,"Boise City, ID (00-14260)",10580,2.70000004768372,53.76,111810,7.80000019073486,22.64,30.15,41.56,60.36,...,24048,25387,25749,26592,"Boise, ID",7963697.0,17464.0,0.002193,"Boise, ID",951
5,"Boston-Cambridge-Nashua, MA-NH (00-71650)",136640,1.29999995231628,61.92,128790,0.899999976158142,33.19,43.83,60.66,77.69,...,266780,270775,268934,274023,"Boston, MA",736976.0,17458.0,0.023689,"Boston, MA",1312
6,"Buffalo-Cheektowaga-Niagara Falls, NY (00-15380)",11770,1.39999997615814,46.88,97510,0.800000011920929,23.48,31.71,43.26,59,...,22815,23981,24550,25255,"Buffalo, NY",8566999.0,1581.0,0.000185,"Buffalo, NY",1731
7,"Charleston, WV (00-16620)",2540,4,36.92,76790,1.70000004768372,19.45,24.23,32.45,45.94,...,17759,19162,19588,20468,"Charleston, SC",2033509.0,13275.0,0.006528,"Charleston, SC",435
8,"Charleston-North Charleston, SC (00-16700)",11770,2.79999995231628,49.1,102120,1.29999995231628,24.33,33.72,46.41,60.59,...,17759,19162,19588,20468,"Charleston, SC",2033509.0,13275.0,0.006528,"Charleston, SC",435
9,"Charlotte-Concord-Gastonia, NC-SC (00-16740)",60370,0.899999976158142,55.78,116020,0.5,28.47,39.38,55.06,68.69,...,85263,89246,90859,93806,"Charlotte, NC",6374167.0,15702.0,0.002463,"Charlotte, NC",2241
10,"Charlottesville, VA (00-16820)",4060,2.09999990463257,51.25,106600,1.20000004768372,26.96,36.87,48.83,62.18,...,85263,89246,90859,93806,"Charlotte, NC",6374167.0,15702.0,0.002463,"Charlotte, NC",2241
11,"Chicago-Naperville-Elgin, IL-IN-WI (00-16980)",129090,1.60000002384186,52.15,108470,0.699999988079071,26.14,36,49.4,64.39,...,238965,246517,245800,247935,"Chicago, IL",1291082.0,5277.0,0.004087,"Chicago, IL",680
12,"Cleveland, TN (00-17420)",540,3.79999995231628,37.11,77190,2,18.69,23.71,33.72,46.83,...,51858,52708,52318,53085,"Cleveland, OH",380100.0,2346.0,0.006173,"Cleveland, OH",503
13,"Cleveland-Elyria, OH (00-17460)",28190,3.29999995231628,45.87,95400,0.899999976158142,23.84,31.55,43.62,58.8,...,51858,52708,52318,53085,"Cleveland, OH",380100.0,2346.0,0.006173,"Cleveland, OH",503
14,"Colorado Springs, CO (00-17820)",16620,2.90000009536743,55.32,115070,1,29.89,39.72,51.76,67.69,...,26180,27954,28466,29201,"Colorado Springs, CO",4091776.0,19628.0,0.004797,"Colorado Springs, CO",2838
15,"Columbus, GA-AL (00-17980)",3780,2.20000004768372,45.4,94430,1.39999997615814,22.84,32.59,45.02,56.71,...,61493,62155,62144,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650
16,"Columbus, IN (00-18020)",920,2.20000004768372,42.3,87970,1,22.4,29.57,39.7,50.67,...,61493,62155,62144,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650
17,"Columbus, OH (00-18140)",38580,1.39999997615814,49.11,102150,1,23.74,32.96,48.06,62.67,...,61493,62155,62144,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650
18,"Dallas-Fort Worth-Arlington, TX (00-19100)",188520,1.20000004768372,53.37,111010,0.800000011920929,25.12,36.76,50.58,65.77,...,324080,349631,360322,375540,"Dallas, TX",4942306.0,15099.0,0.003055,"Dallas, TX",1779
19,"Denver-Aurora-Lakewood, CO (00-19740)",87630,1.70000004768372,57.59,119780,1.5,30.66,41.6,54.35,69.31,...,149931,159015,160057,165731,"Denver, CO",4565488.0,16888.0,0.003699,"Denver, CO",1343
20,"Des Moines-West Des Moines, IA (00-19780)",17590,2.70000004768372,48.8,101500,0.899999976158142,24.87,34.15,47.66,60.16,...,23851,24681,24908,25359,"Des Moines, IA",4153022.0,8630.0,0.002078,"Des Moines, IA",2031
21,"Detroit-Warren-Dearborn, MI (00-19820)",63690,2.09999990463257,48.33,100520,0.600000023841858,25.14,35.63,48.2,62.12,...,101851,104124,103896,104172,"Detroit, MI",8033441.0,14598.0,0.001817,"Detroit, MI",1412
22,"Hartford-West Hartford-East Hartford, CT (00-7...",21780,2.09999990463257,53.54,111360,0.800000011920929,29.24,38.84,51.22,65.19,...,37253,38165,38515,38979,"Hartford, CT",7828484.0,4952.0,0.000633,"Hartford, CT",1730
23,"Houston-The Woodlands-Sugar Land, TX (00-26420)",87400,1.60000002384186,50.41,104850,1,23.49,31.57,46.94,63.71,...,140676,149152,152084,155660,"Houston, TX",3724515.0,3551.0,0.000953,"Houston, TX",1096
24,"Huntsville, AL (00-26620)",19440,3.20000004768372,54.18,112700,1,28.62,38.48,51.16,67.05,...,27489,28542,28683,29135,None,NaN,NaN,NaN,"Huntsville, AL",2426
25,"Indianapolis-Carmel-Anderson, IN (00-26900)",32950,1.79999995231628,45.31,94250,0.800000011920929,24.02,31.25,42.22,55.75,...,53706,54958,55585,56990,"Indianapolis, IN",4377576.0,13917.0,0.003179,"Indianapolis, IN",2579
26,"Kansas City, MO-KS (00-28140)",43400,2.40000009536743,47.74,99310,0.899999976158142,23.74,31.74,47.02,61.98,...,74891,76827,77699,78927,"Kansas City, MO",7378141.0,1650.0,0.000224,"Kansas City, MO",1881
27,"Las Vegas-Henderson-Paradise, NV (00-29820)",18980,3.90000009536743,44.7,92970,3.40000009536743,21.59,27.33,39.27,55.9,...,30901,35167,35954,37577,"Las Vegas, NV",5383152.0,19722.0,0.003664,"Las Vegas, NV",2669
28,"Los Angeles-Long Beach-Anaheim, CA (00-31080)",182580,1.10000002384186,58.9,122510,0.600000023841858,28.43,38.42,57.66,76.77,...,368539,376955,375831,378427,"Los Angeles, CA",8556404.0,10407.0,0.001216,"Los Angeles, CA",1570
29,"Memphis, TN-MS-AR (00-32820)",12610,2,44.35,92240,1.39999997615814,22.01,28.57,40.38,56.9,...,19669,21009,21045,21450,"Memphis, TN",633104.0,3908.0,0.006173,"Memphis, TN",200
30,"Miami-Fort Lauderdale-West Palm Beach, FL (00-...",68660,1.70000004768372,49.04,102000,0.899999976158142,22.94,31,45.28,63.16,...,122059,132847,135965,139644,"Miami, FL",841971.0,7466.0,0.008867,"Miami, FL",1873
31,"Milwaukee-Waukesha-West Allis, WI (00-33340)",25060,2.09999990463257,46.66,97060,1.5,25.13,32.11,43.66,57.17,...,44842,44916,44349,44084,"Milwaukee, WI",6780886.0,17396.0,0.002565,"Milwaukee, WI",2916
32,"Minneapolis-St. Paul-Bloomington, MN-WI (00-33...",78370,1.20000004768372,52.31,108800,0.600000023841858,29.29,38.43,50.45,64.02,...,146168,146623,147088,148204,"Minneapolis, MN",5996594.0,4965.0,0.000828,"Minneapolis, MN",2365
33,"Nashville-Davidson--Murfreesboro--Franklin, TN...",33800,2.70000004768372,45.21,94040,1.60000002384186,23.18,30.31,41.96,58.52,...,51876,58546,60502,63391,"Nashville, TN",4428727.0,8487.0,0.001916,"Nashville, TN",552
34,"New Orleans-Metairie, LA (00-35380)",7880,4.09999990463257,50.34,104700,2.40000009536743,22.17,30.31,41.63,55.24,...,15968,17456,17760,18261,"New Orleans, LA",390144.0,2408.0,0.006173,"New Orleans, LA",343
35,"New York-Newark-Jersey City, NY-NJ-PA (00-35620)",327120,1.79999995231628,62.74,130500,0.600000023841858,29.68,41.89,61.04,80.37,...,549565,585879,594191,613861,"New York City, NY",3554473.0,13903.0,0.003911,"New York City, NY",1241
36,"Oklahoma City, OK (00-36420)",18920,1.70000004768372,43.37,90200,1.70000004768372,21.95,28.6,39.18,53.8,...,25603,27311,28211,28722,"Oklahoma City, OK",655057.0,4044.0,0.006173,"Oklahoma City, OK",71
37,"Omaha-Council Bluffs, NE-IA (00-36540)",19190,2.20000004768372,46.81,97350,1.29999995231628,25.04,32.98,46.38,59.97,...,31767,31676,31085,31174,"Omaha, NE",2319042.0,17443.0,0.007522,"Omaha, NE",2939
38,"Orlando-Kissimmee-Sanford, FL (00-36740)",40250,1,48.27,100400,1.20000004768372,23.02,31.51,46.47,61.11,...,67509,71942,73922,76085,"Orlando, FL",4174499.0,7299.0,0.001748,"Orlando, FL",1327
39,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD (0...",88650,1.10000002384186,52.15,108470,0.800000011920929,26.32,35.97,49.44,64.98,...,154522,158476,157986,159251,"Philadelphia, PA",1629159.0,16479.0,0.010115,"Philadelphia, PA",2844
40,"Phoenix-Mesa-Scottsdale, AZ (00-38060)",86700,2.09999990463257,51.08,106240,1.20000004768372,24.11,33.43,48.91,63.6,...,160193,168018,168694,172709,"Phoenix, AZ",5156799.0,17519.0,0.003397,"Phoenix, AZ",2621
41,"Pittsburgh, PA (00-38300)",30760,1.29999995231628,45.54,94730,1,22.82,30.44,41.19,58.37,...,59768,58860,58646,58884,"Pittsburgh, PA",6091495.0,1376.0,0.000226,"Pittsburgh, PA",1192
42,"Portland-South Portland, ME (00-76750)",6740,2.40000009536743,45.75,95170,1.5,26.35,32.06,41.75,55.09,...,114225,119784,120406,123486,"Portland, OR",551157.0,7579.0,0.013751,"Portland, OR",1057
43,"Portland-Vancouver-Hillsboro, OR-WA (00-38900)",47220,2,55.07,114550,1.5,28.13,37.76,52.06,68.45,...,114225,119784,120406,123486,"Portland, OR",551157.0,7579.0,0.013751,"Portland, OR",1057
44,"Providence-Warwick, RI-MA (00-77200)",16970,4.5,52.89,110020,1.89999997615814,27.82,37.62,50.65,65.88,...,32783,33824,34024,34627,"Providence, RI",8220528.0,8305.0,0.001010,"Providence, RI",1448
45,"Raleigh, NC (00-39580)",41180,1.20000004768372,55.22,114870,1.5,28.39,39.07,52.92,66.02,...,70221,73624,75041,77377,"Raleigh, NC",8817088.0,4642.0,0.000526,"Raleigh, NC",1108
46,"Sacramento--Roseville--Arden-Arcade, CA (00-40...",45060,2.09999990463257,50.2,104420,0.600000023841858,31.33,36.24,46.08,60.16,...,54954,55669,55368,55709,"Sacramento, CA",1757923.0,9704.0,0.005520,"Sacramento, CA",2909
47,"Salt Lake City, UT (00-41620)",37850,3.20000004768372,51.1,106300,1.70000004768372,23.64,33.09,47.64,64.46,...,64614,69272,69826,73038,"Salt Lake City, UT",2954941.0,17714.0,0.005995,"Salt Lake City, UT",1735
48,"San Antonio-New Braunfels, TX (00-41700)",30740,1.89999997615814,47.51,98830,1.20000004768372,23,30.79,45.71,61.02,...,50578,52728,53290,55069,"San Antonio, TX",668467.0,6449.0,0.009647,"San Antonio, TX",1885
49,"San Diego-Carlsbad, CA (00-41740)",59340,0.899999976158142,60.1,125010,0.699999988079071,29.2,40.69,59.06,76.79,...,119129,121418,121128,123237,"San Diego, CA",6611000.0,2991.0,0.000452,"San Diego, CA",2394
50,"San Francisco-Oakland-Hayward, CA (00-41860)",181740,1.20000004768372,76.18,158450,0.600000023841858,37.15,56.45,78.79,97.11,...,345502,368407,365494,380190,"San Francisco, CA",7349695.0,13621.0,0.001853,"San Francisco, CA",659
51,"San Jose-Sunnyvale-Santa Clara, CA (00-41940)",161790,0.899999976158142,88.68,184460,0.400000005960465,49.38,68.67,84.19,101.87,...,352752,366574,364882,374138,"San Jose, CA",6721458.0,15828.0,0.002355,"San Jose, CA",253
52,"Seattle-Tacoma-Bellevue, WA (00-42660)",171820,1.70000004768372,69.49,144530,0.899999976158142,35.52,48.59,67.68,83.35,...,269109,288329,287621,298361,"Seattle, WA",2522189.0,18032.0,0.007149,"Seattle, WA",803
53,"St. Louis, MO-IL (00-41180)",45330,2,45.35,94330,0.899999976158142,22.33,28.87,42.76,59.78,...,75557,77818,78129,78905,"St. Louis, MO",2150021.0,14762.0,0.006866,"St. Louis, MO",456
54,"Trenton, NJ (00-45940)",11610,1.79999995231628,54.43,113210,0.899999976158142,29.18,37.89,50.18,66.38,...,17817,18658,18541,18764,"Trenton, NJ",84907.0,524.0,0.006173,"Trenton, NJ",234
55,"Washington DC-Arlington-Alexandria, DC-VA-MD-W...",239700,1.10000002384186,62.96,130950,1.29999995231628,33.89,46.17,62.4,79.27,...,367527,375358,376034,380232,"Washington DC, DC",720687.0,4449.0,0.006173,"Washington DC, DC",899

### 1. Add ***Tech Job Growth Column*** & ***Entry Level Wage Average (10th and 25th Percentile)***

In [93]:
import pandas as pd
Merged_Output = pd.read_excel("merged_output.xlsx")
Merged_Output.rename(columns={'Employment Employment_percent_relative_standard_error Hourly_mean_wage Annual_mean_wage Wage_percent_relative_standard_error Hourly_10th_percentile_wage Hourly_25th_percentile_wage Hourly_median_wage Hourly_75th_percentile_wage Hourly_90th_percentile_wage Annual_10th_percentile_wage_(2) Annual_25th_percentile_wage_(2) Annual_median_wage_(2) Annual_75th_percentile_wage_(2) Annual_90th_percentile_wage_(2) Employment_per_1,000_jobs Location_Quotient': 'Employment_Total'}, inplace=True)
Merged_Output.rename(columns={'Employment_per_Thousand_Jobs': 'Employment_per_1k_jobs'}, inplace=True)



final_value = Merged_Output['2023']
intial_value = Merged_Output['2018']
years = 6

Merged_Output['Average_7_Year_Growth_Rate'] = (((final_value / intial_value) ** (1 / years) - 1) * 100).round(3)
Merged_Output['Entry_Level_Tech_Wage'] = (Merged_Output['Annual_10th_percentile_wage'] + Merged_Output['Annual_25th_percentile_wage'])/2

# Optionally, you can save the result to a new Excel file
Merged_Output.to_excel("updated_output.xlsx", index=False)

df4 = pd.read_excel('updated_output.xlsx')
df4

,Area_Name,Employment_Total,Employment_percent_relative_standard_error,Hourly_mean_wage,Annual_mean_wage,Wage_percent_relative_standard_error,Hourly_10th_percentile_wage,Hourly_25th_percentile_wage,Hourly_median_wage,Hourly_75th_percentile_wage,...,2023,2024,Location,Population,Number_of_Layoffs,Layoffs_per_Capita,Spot,Number_of_Tech_Events,Average_7_Year_Growth_Rate,Entry_Level_Tech_Wage
0,"Albuquerque, NM (00-10740)",11730,3.3,46.70,97140,2.4,20.90,30.12,42.53,61.91,...,23276,23596,"Albuquerque, NM",561188.0,3464.0,0.006173,"Albuquerque, NM",98,2.111,53065
1,"Atlanta-Sandy Springs-Roswell, GA (00-12060)",120180,1.5,52.50,109210,0.7,26.05,36.34,50.12,65.40,...,229584,235268,"Atlanta, GA",5234502.0,15838.0,0.003026,"Atlanta, GA",2937,1.500,64890
2,"Austin-Round Rock, TX (00-12420)",81150,1.4,53.60,111490,2.6,24.43,35.07,50.64,67.85,...,180507,190186,"Austin, TX",4391747.0,1353.0,0.000308,"Austin, TX",996,4.914,61875
3,"Baltimore-Columbia-Towson, MD (00-12580)",64180,1.8,61.76,128450,3.4,30.93,42.44,60.23,77.72,...,104838,106852,"Baltimore, MD",5370385.0,5677.0,0.001057,"Baltimore, MD",1857,0.653,76300
4,"Boise City, ID (00-14260)",10580,2.7,53.76,111810,7.8,22.64,30.15,41.56,60.36,...,25749,26592,"Boise, ID",7963697.0,17464.0,0.002193,"Boise, ID",951,1.619,54905
5,"Boston-Cambridge-Nashua, MA-NH (00-71650)",136640,1.3,61.92,128790,0.9,33.19,43.83,60.66,77.69,...,268934,274023,"Boston, MA",736976.0,17458.0,0.023689,"Boston, MA",1312,0.426,80095
6,"Buffalo-Cheektowaga-Niagara Falls, NY (00-15380)",11770,1.4,46.88,97510,0.8,23.48,31.71,43.26,59.00,...,24550,25255,"Buffalo, NY",8566999.0,1581.0,0.000185,"Buffalo, NY",1731,0.236,57395
7,"Charleston, WV (00-16620)",2540,4.0,36.92,76790,1.7,19.45,24.23,32.45,45.94,...,19588,20468,"Charleston, SC",2033509.0,13275.0,0.006528,"Charleston, SC",435,1.748,45425
8,"Charleston-North Charleston, SC (00-16700)",11770,2.8,49.10,102120,1.3,24.33,33.72,46.41,60.59,...,19588,20468,"Charleston, SC",2033509.0,13275.0,0.006528,"Charleston, SC",435,1.748,60380
9,"Charlotte-Concord-Gastonia, NC-SC (00-16740)",60370,0.9,55.78,116020,0.5,28.47,39.38,55.06,68.69,...,90859,93806,"Charlotte, NC",6374167.0,15702.0,0.002463,"Charlotte, NC",2241,2.272,70565
10,"Charlottesville, VA (00-16820)",4060,2.1,51.25,106600,1.2,26.96,36.87,48.83,62.18,...,90859,93806,"Charlotte, NC",6374167.0,15702.0,0.002463,"Charlotte, NC",2241,2.272,66380
11,"Chicago-Naperville-Elgin, IL-IN-WI (00-16980)",129090,1.6,52.15,108470,0.7,26.14,36.00,49.40,64.39,...,245800,247935,"Chicago, IL",1291082.0,5277.0,0.004087,"Chicago, IL",680,-0.011,64625
12,"Cleveland, TN (00-17420)",540,3.8,37.11,77190,2.0,18.69,23.71,33.72,46.83,...,52318,53085,"Cleveland, OH",380100.0,2346.0,0.006173,"Cleveland, OH",503,0.383,44105
13,"Cleveland-Elyria, OH (00-17460)",28190,3.3,45.87,95400,0.9,23.84,31.55,43.62,58.80,...,52318,53085,"Cleveland, OH",380100.0,2346.0,0.006173,"Cleveland, OH",503,0.383,57600
14,"Colorado Springs, CO (00-17820)",16620,2.9,55.32,115070,1.0,29.89,39.72,51.76,67.69,...,28466,29201,"Colorado Springs, CO",4091776.0,19628.0,0.004797,"Colorado Springs, CO",2838,2.224,72390
15,"Columbus, GA-AL (00-17980)",3780,2.2,45.40,94430,1.4,22.84,32.59,45.02,56.71,...,62144,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650,-0.066,57650
16,"Columbus, IN (00-18020)",920,2.2,42.30,87970,1.0,22.40,29.57,39.70,50.67,...,62144,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650,-0.066,54045
17,"Columbus, OH (00-18140)",38580,1.4,49.11,102150,1.0,23.74,32.96,48.06,62.67,...,62144,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650,-0.066,58965
18,"Dallas-Fort Worth-Arlington, TX (00-19100)",188520,1.2,53.37,111010,0.8,25.12,36.76,50.58,65.77,...,360322,375540,"Dallas, TX",4942306.0,15099.0,0.003055,"Dallas, TX",1779,3.842,64360
19,"Denver-Aurora-Lakewood, CO (00-19740)",87630,1.7,57.59,119780,1.5,30.66,41.60,54.35,69.31,...,160057,165731,"Denver, CO",4565488.0,16888.0,0.003699,"Denver, CO",1343,2.378,75145
20,"Des Moines-West Des Moines, IA (00-19780)",17590,2.7,48.80,101500,0.9,24.87,34.15,47.66,60.16,...,24908,25359,"Des Moines, IA",4153022.0,8630.0,0.002078,"Des Moines, IA",2031,1.007,61380
21,"Detroit-Warren-Dearborn, MI (00-19820)",63690,2.1,48.33,100520,0.6,25.14,35.63,48.20,62.12,...,103896,104172,"Detroit, MI",8033441.0,14598.0,0.001817,"Detroit, MI",1412,-0.275,63195
22,"Hartford-West Hartford-East Hartford, CT (00-7...",21780,2.1,53.54,111360,0.8,29.24,38.84,51.22,65.19,...,38515,38979,"Hartford, CT",7828484.0,4952.0,0.000633,"Hartford, CT",1730,0.350,70795
23,"Houston-The Woodlands-Sugar Land, TX (00-26420)",87400,1.6,50.41,104850,1.0,23.49,31.57,46.94,63.71,...,152084,155660,"Houston, TX",3724515.0,3551.0,0.000953,"Houston, TX",1096,2.477,57265
24,"Huntsville, AL (00-26620)",19440,3.2,54.18,112700,1.0,28.62,38.48,51.16,67.05,...,28683,29135,NaN,NaN,NaN,NaN,"Huntsville, AL",2426,2.000,69785
25,"Indianapolis-Carmel-Anderson, IN (00-26900)",32950,1.8,45.31,94250,0.8,24.02,31.25,42.22,55.75,...,55585,56990,"Indianapolis, IN",4377576.0,13917.0,0.003179,"Indianapolis, IN",2579,1.102,57480
26,"Kansas City, MO-KS (00-28140)",43400,2.4,47.74,99310,0.9,23.74,31.74,47.02,61.98,...,77699,78927,"Kansas City, MO",7378141.0,1650.0,0.000224,"Kansas City, MO",1881,1.319,57705
27,"Las Vegas-Henderson-Paradise, NV (00-29820)",18980,3.9,44.70,92970,3.4,21.59,27.33,39.27,55.90,...,35954,37577,"Las Vegas, NV",5383152.0,19722.0,0.003664,"Las Vegas, NV",2669,3.597,50880
28,"Los Angeles-Long Beach-Anaheim, CA (00-31080)",182580,1.1,58.90,122510,0.6,28.43,38.42,57.66,76.77,...,375831,378427,"Los Angeles, CA",8556404.0,10407.0,0.001216,"Los Angeles, CA",1570,0.448,69520
29,"Memphis, TN-MS-AR (00-32820)",12610,2.0,44.35,92240,1.4,22.01,28.57,40.38,56.90,...,21045,21450,"Memphis, TN",633104.0,3908.0,0.006173,"Memphis, TN",200,2.373,52600
30,"Miami-Fort Lauderdale-West Palm Beach, FL (00-...",68660,1.7,49.04,102000,0.9,22.94,31.00,45.28,63.16,...,135965,139644,"Miami, FL",841971.0,7466.0,0.008867,"Miami, FL",1873,3.071,56090
31,"Milwaukee-Waukesha-West Allis, WI (00-33340)",25060,2.1,46.66,97060,1.5,25.13,32.11,43.66,57.17,...,44349,44084,"Milwaukee, WI",6780886.0,17396.0,0.002565,"Milwaukee, WI",2916,-0.959,59530
32,"Minneapolis-St. Paul-Bloomington, MN-WI (00-33...",78370,1.2,52.31,108800,0.6,29.29,38.43,50.45,64.02,...,147088,148204,"Minneapolis, MN",5996594.0,4965.0,0.000828,"Minneapolis, MN",2365,-0.324,70425
33,"Nashville-Davidson--Murfreesboro--Franklin, TN...",33800,2.7,45.21,94040,1.6,23.18,30.31,41.96,58.52,...,60502,63391,"Nashville, TN",4428727.0,8487.0,0.001916,"Nashville, TN",552,4.675,55635
34,"New Orleans-Metairie, LA (00-35380)",7880,4.1,50.34,104700,2.4,22.17,30.31,41.63,55.24,...,17760,18261,"New Orleans, LA",390144.0,2408.0,0.006173,"New Orleans, LA",343,3.109,54575
35,"New York-Newark-Jersey City, NY-NJ-PA (00-35620)",327120,1.8,62.74,130500,0.6,29.68,41.89,61.04,80.37,...,594191,613861,"New York City, NY",3554473.0,13903.0,0.003911,"New York City, NY",1241,1.804,74430
36,"Oklahoma City, OK (00-36420)",18920,1.7,43.37,90200,1.7,21.95,28.60,39.18,53.80,...,28211,28722,"Oklahoma City, OK",655057.0,4044.0,0.006173,"Oklahoma City, OK",71,2.021,52570
37,"Omaha-Council Bluffs, NE-IA (00-36540)",19190,2.2,46.81,97350,1.3,25.04,32.98,46.38,59.97,...,31085,31174,"Omaha, NE",2319042.0,17443.0,0.007522,"Omaha, NE",2939,0.164,60345
38,"Orlando-Kissimmee-Sanford, FL (00-36740)",40250,1.0,48.27,100400,1.2,23.02,31.51,46.47,61.11,...,73922,76085,"Orlando, FL",4174499.0,7299.0,0.001748,"Orlando, FL",1327,2.321,56700
39,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD (0...",88650,1.1,52.15,108470,0.8,26.32,35.97,49.44,64.98,...,157986,159251,"Philadelphia, PA",1629159.0,16479.0,0.010115,"Philadelphia, PA",2844,0.284,64780
40,"Phoenix-Mesa-Scottsdale, AZ (00-38060)",86700,2.1,51.08,106240,1.2,24.11,33.43,48.91,63.60,...,168694,172709,"Phoenix, AZ",5156799.0,17519.0,0.003397,"Phoenix, AZ",2621,2.554,59845
41,"Pittsburgh, PA (00-38300)",30760,1.3,45.54,94730,1.0,22.82,30.44,41.19,58.37,...,58646,58884,"Pittsburgh, PA",6091495.0,1376.0,0.000226,"Pittsburgh, PA",1192,-1.072,55395
42,"Portland-South Portland, ME (00-76750)",6740,2.4,45.75,95170,1.5,26.35,32.06,41.75,55.09,...,120406,123486,"Portland, OR",551157.0,7579.0,0.013751,"Portland, OR",1057,2.074,60745
43,"Portland-Vancouver-Hillsboro, OR-WA (00-38900)",47220,2.0,55.07,114550,1.5,28.13,37.76,52.06,68.45,...,120406,123486,"Portland, OR",551157.0,7579.0,0.013751,"Portland, OR",1057,2.074,68520
44,"Providence-Warwick, RI-MA (00-77200)",16970,4.5,52.89,110020,1.9,27.82,37.62,50.65,65.88,...,34024,34627,"Providence, RI",8220528.0,8305.0,0.001010,"Providence, RI",1448,0.829,68055
45,"Raleigh, NC (00-39580)",41180,1.2,55.22,114870,1.5,28.39,39.07,52.92,66.02,...,75041,77377,"Raleigh, NC",8817088.0,4642.0,0.000526,"Raleigh, NC",1108,1.053,70155
46,"Sacramento--Roseville--Arden-Arcade, CA (00-40...",45060,2.1,50.20,104420,0.6,31.33,36.24,46.08,60.16,...,55368,55709,"Sacramento, CA",1757923.0,9704.0,0.005520,"Sacramento, CA",2909,0.465,70270
47,"Salt Lake City, UT (00-41620)",37850,3.2,51.10,106300,1.7,23.64,33.09,47.64,64.46,...,69826,73038,"Salt Lake City, UT",2954941.0,17714.0,0.005995,"Salt Lake City, UT",1735,3.611,59000
48,"San Antonio-New Braunfels, TX (00-41700)",30740,1.9,47.51,98830,1.2,23.00,30.79,45.71,61.02,...,53290,55069,"San Antonio, TX",668467.0,6449.0,0.009647,"San Antonio, TX",1885,2.026,55940
49,"San Diego-Carlsbad, CA (00-41740)",59340,0.9,60.10,125010,0.7,29.20,40.69,59.06,76.79,...,121128,123237,"San Diego, CA",6611000.0,2991.0,0.000452,"San Diego, CA",2394,1.293,72685
50,"San Francisco-Oakland-Hayward, CA (00-41860)",181740,1.2,76.18,158450,0.6,37.15,56.45,78.79,97.11,...,365494,380190,"San Francisco, CA",7349695.0,13621.0,0.001853,"San Francisco, CA",659,2.482,97340
51,"San Jose-Sunnyvale-Santa Clara, CA (00-41940)",161790,0.9,88.68,184460,0.4,49.38,68.67,84.19,101.87,...,364882,374138,"San Jose, CA",6721458.0,15828.0,0.002355,"San Jose, CA",253,1.490,122770
52,"Seattle-Tacoma-Bellevue, WA (00-42660)",171820,1.7,69.49,144530,0.9,35.52,48.59,67.68,83.35,...,287621,298361,"Seattle, WA",2522189.0,18032.0,0.007149,"Seattle, WA",803,2.484,87475
53,"St. Louis, MO-IL (00-41180)",45330,2.0,45.35,94330,0.9,22.33,28.87,42.76,59.78,...,78129,78905,"St. Louis, MO",2150021.0,14762.0,0.006866,"St. Louis, MO",456,0.881,53250
54,"Trenton, NJ (00-45940)",11610,1.8,54.43,113210,0.9,29.18,37.89,50.18,66.38,...,18541,18764,"Trenton, NJ",84907.0,524.0,0.006173,"Trenton, NJ",234,1.321,69745
55,"Washington DC-Arlington-Alexandria, DC-VA-MD-W...",239700,1.1,62.96,130950,1.3,33.89,46.17,62.40,79.27,...,376034,380232,"Washington DC, DC",720687.0,4449.0,0.006173,"Washington DC, DC",899,0.920,83255

### Final Clean

In [99]:
import pandas as pd

# Load the initial data from the Excel file
df5 = pd.read_excel("updated_output.xlsx")

# Drop unnecessary columns from df5 as per your previous step

# Define the weights for each column in the calculation of the "Entry Level Tech Friendly Index"
weights = {
    'Employment_per_1k_jobs': 0.25,
    'Location_Quotient': 0.20,
    'Average_7_Year_Growth_Rate': 0.30,
    'Entry_Level_Tech_Wage': 0.15,
    'Number_of_Tech_Events': 0.10,
    'Layoffs_per_Capita': 0.10
}

# Calculate the "Entry Level Tech Friendly Index" by combining the weighted columns
df5['Tech_Friendly_Index'] = (
    df5['Employment_per_1k_jobs'] * weights['Employment_per_1k_jobs'] +
    df5['Location_Quotient'] * weights['Location_Quotient'] +
    df5['Average_7_Year_Growth_Rate'] * weights['Average_7_Year_Growth_Rate'] +
    df5['Entry_Level_Tech_Wage'] * weights['Entry_Level_Tech_Wage'] +
    df5['Number_of_Tech_Events'] * weights['Number_of_Tech_Events'] -
    df5['Layoffs_per_Capita'] * weights['Layoffs_per_Capita']


)

# Save the updated DataFrame with the new index back to an Excel file
df5.to_excel("Tech_Hub.xlsx", index=False)

# Optional: Print the updated DataFrame to check the new column
df5

,Area_Name,Employment_Total,Employment_percent_relative_standard_error,Hourly_mean_wage,Annual_mean_wage,Wage_percent_relative_standard_error,Hourly_10th_percentile_wage,Hourly_25th_percentile_wage,Hourly_median_wage,Hourly_75th_percentile_wage,...,2024,Location,Population,Number_of_Layoffs,Layoffs_per_Capita,Spot,Number_of_Tech_Events,Average_7_Year_Growth_Rate,Entry_Level_Tech_Wage,Tech_Friendly_Index
0,"Albuquerque, NM (00-10740)",11730,3.3,46.70,97140,2.4,20.90,30.12,42.53,61.91,...,23596,"Albuquerque, NM",561188.0,3464.0,0.006173,"Albuquerque, NM",98,2.111,53065,7977.764683
1,"Atlanta-Sandy Springs-Roswell, GA (00-12060)",120180,1.5,52.50,109210,0.7,26.05,36.34,50.12,65.40,...,235268,"Atlanta, GA",5234502.0,15838.0,0.003026,"Atlanta, GA",2937,1.500,64890,10038.562698
2,"Austin-Round Rock, TX (00-12420)",81150,1.4,53.60,111490,2.6,24.43,35.07,50.64,67.85,...,190186,"Austin, TX",4391747.0,1353.0,0.000308,"Austin, TX",996,4.914,61875,9399.131668
3,"Baltimore-Columbia-Towson, MD (00-12580)",64180,1.8,61.76,128450,3.4,30.93,42.44,60.23,77.72,...,106852,"Baltimore, MD",5370385.0,5677.0,0.001057,"Baltimore, MD",1857,0.653,76300,11643.484794
4,"Boise City, ID (00-14260)",10580,2.7,53.76,111810,7.8,22.64,30.15,41.56,60.36,...,26592,"Boise, ID",7963697.0,17464.0,0.002193,"Boise, ID",951,1.619,54905,8338.603981
5,"Boston-Cambridge-Nashua, MA-NH (00-71650)",136640,1.3,61.92,128790,0.9,33.19,43.83,60.66,77.69,...,274023,"Boston, MA",736976.0,17458.0,0.023689,"Boston, MA",1312,0.426,80095,12158.233431
6,"Buffalo-Cheektowaga-Niagara Falls, NY (00-15380)",11770,1.4,46.88,97510,0.8,23.48,31.71,43.26,59.00,...,25255,"Buffalo, NY",8566999.0,1581.0,0.000185,"Buffalo, NY",1731,0.236,57395,8788.135782
7,"Charleston, WV (00-16620)",2540,4.0,36.92,76790,1.7,19.45,24.23,32.45,45.94,...,20468,"Charleston, SC",2033509.0,13275.0,0.006528,"Charleston, SC",435,1.748,45425,6864.100497
8,"Charleston-North Charleston, SC (00-16700)",11770,2.8,49.10,102120,1.3,24.33,33.72,46.41,60.59,...,20468,"Charleston, SC",2033509.0,13275.0,0.006528,"Charleston, SC",435,1.748,60380,9109.058747
9,"Charlotte-Concord-Gastonia, NC-SC (00-16740)",60370,0.9,55.78,116020,0.5,28.47,39.38,55.06,68.69,...,93806,"Charlotte, NC",6374167.0,15702.0,0.002463,"Charlotte, NC",2241,2.272,70565,10821.310853
10,"Charlottesville, VA (00-16820)",4060,2.1,51.25,106600,1.2,26.96,36.87,48.83,62.18,...,93806,"Charlotte, NC",6374167.0,15702.0,0.002463,"Charlotte, NC",2241,2.272,66380,10191.012853
11,"Chicago-Naperville-Elgin, IL-IN-WI (00-16980)",129090,1.6,52.15,108470,0.7,26.14,36.00,49.40,64.39,...,247935,"Chicago, IL",1291082.0,5277.0,0.004087,"Chicago, IL",680,-0.011,64625,9769.075041
12,"Cleveland, TN (00-17420)",540,3.8,37.11,77190,2.0,18.69,23.71,33.72,46.83,...,53085,"Cleveland, OH",380100.0,2346.0,0.006173,"Cleveland, OH",503,0.383,44105,6669.265783
13,"Cleveland-Elyria, OH (00-17460)",28190,3.3,45.87,95400,0.9,23.84,31.55,43.62,58.80,...,53085,"Cleveland, OH",380100.0,2346.0,0.006173,"Cleveland, OH",503,0.383,57600,8697.630533
14,"Colorado Springs, CO (00-17820)",16620,2.9,55.32,115070,1.0,29.89,39.72,51.76,67.69,...,29201,"Colorado Springs, CO",4091776.0,19628.0,0.004797,"Colorado Springs, CO",2838,2.224,72390,11156.669470
15,"Columbus, GA-AL (00-17980)",3780,2.2,45.40,94430,1.4,22.84,32.59,45.02,56.71,...,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650,-0.066,57650,8720.962141
16,"Columbus, IN (00-18020)",920,2.2,42.30,87970,1.0,22.40,29.57,39.70,50.67,...,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650,-0.066,54045,8176.362141
17,"Columbus, OH (00-18140)",38580,1.4,49.11,102150,1.0,23.74,32.96,48.06,62.67,...,62806,"Columbus, OH",2849487.0,8811.0,0.003092,"Columbus, OH",650,-0.066,58965,8918.978890
18,"Dallas-Fort Worth-Arlington, TX (00-19100)",188520,1.2,53.37,111010,0.8,25.12,36.76,50.58,65.77,...,375540,"Dallas, TX",4942306.0,15099.0,0.003055,"Dallas, TX",1779,3.842,64360,9845.212544
19,"Denver-Aurora-Lakewood, CO (00-19740)",87630,1.7,57.59,119780,1.5,30.66,41.60,54.35,69.31,...,165731,"Denver, CO",4565488.0,16888.0,0.003699,"Denver, CO",1343,2.378,75145,11420.862281
20,"Des Moines-West Des Moines, IA (00-19780)",17590,2.7,48.80,101500,0.9,24.87,34.15,47.66,60.16,...,25359,"Des Moines, IA",4153022.0,8630.0,0.002078,"Des Moines, IA",2031,1.007,61380,9422.144892
21,"Detroit-Warren-Dearborn, MI (00-19820)",63690,2.1,48.33,100520,0.6,25.14,35.63,48.20,62.12,...,104172,"Detroit, MI",8033441.0,14598.0,0.001817,"Detroit, MI",1412,-0.275,63195,9628.943069
22,"Hartford-West Hartford-East Hartford, CT (00-7...",21780,2.1,53.54,111360,0.8,29.24,38.84,51.22,65.19,...,38979,"Hartford, CT",7828484.0,4952.0,0.000633,"Hartford, CT",1730,0.350,70795,10802.239436
23,"Houston-The Woodlands-Sugar Land, TX (00-26420)",87400,1.6,50.41,104850,1.0,23.49,31.57,46.94,63.71,...,155660,"Houston, TX",3724515.0,3551.0,0.000953,"Houston, TX",1096,2.477,57265,8707.126755
24,"Huntsville, AL (00-26620)",19440,3.2,54.18,112700,1.0,28.62,38.48,51.16,67.05,...,29135,NaN,NaN,NaN,NaN,"Huntsville, AL",2426,2.000,69785,NaN
25,"Indianapolis-Carmel-Anderson, IN (00-26900)",32950,1.8,45.31,94250,0.8,24.02,31.25,42.22,55.75,...,56990,"Indianapolis, IN",4377576.0,13917.0,0.003179,"Indianapolis, IN",2579,1.102,57480,8888.008532
26,"Kansas City, MO-KS (00-28140)",43400,2.4,47.74,99310,0.9,23.74,31.74,47.02,61.98,...,78927,"Kansas City, MO",7378141.0,1650.0,0.000224,"Kansas City, MO",1881,1.319,57705,8854.543428
27,"Las Vegas-Henderson-Paradise, NV (00-29820)",18980,3.9,44.70,92970,3.4,21.59,27.33,39.27,55.90,...,37577,"Las Vegas, NV",5383152.0,19722.0,0.003664,"Las Vegas, NV",2669,3.597,50880,7904.461233
28,"Los Angeles-Long Beach-Anaheim, CA (00-31080)",182580,1.1,58.90,122510,0.6,28.43,38.42,57.66,76.77,...,378427,"Los Angeles, CA",8556404.0,10407.0,0.001216,"Los Angeles, CA",1570,0.448,69520,10592.687778
29,"Memphis, TN-MS-AR (00-32820)",12610,2.0,44.35,92240,1.4,22.01,28.57,40.38,56.90,...,21450,"Memphis, TN",633104.0,3908.0,0.006173,"Memphis, TN",200,2.373,52600,7915.870283
30,"Miami-Fort Lauderdale-West Palm Beach, FL (00-...",68660,1.7,49.04,102000,0.9,22.94,31.00,45.28,63.16,...,139644,"Miami, FL",841971.0,7466.0,0.008867,"Miami, FL",1873,3.071,56090,8608.175913
31,"Milwaukee-Waukesha-West Allis, WI (00-33340)",25060,2.1,46.66,97060,1.5,25.13,32.11,43.66,57.17,...,44084,"Milwaukee, WI",6780886.0,17396.0,0.002565,"Milwaukee, WI",2916,-0.959,59530,9228.678294
32,"Minneapolis-St. Paul-Bloomington, MN-WI (00-33...",78370,1.2,52.31,108800,0.6,29.29,38.43,50.45,64.02,...,148204,"Minneapolis, MN",5996594.0,4965.0,0.000828,"Minneapolis, MN",2365,-0.324,70425,10810.644717
33,"Nashville-Davidson--Murfreesboro--Franklin, TN...",33800,2.7,45.21,94040,1.6,23.18,30.31,41.96,58.52,...,63391,"Nashville, TN",4428727.0,8487.0,0.001916,"Nashville, TN",552,4.675,55635,8409.898558
34,"New Orleans-Metairie, LA (00-35380)",7880,4.1,50.34,104700,2.4,22.17,30.31,41.63,55.24,...,18261,"New Orleans, LA",390144.0,2408.0,0.006173,"New Orleans, LA",343,3.109,54575,8225.401083
35,"New York-Newark-Jersey City, NY-NJ-PA (00-35620)",327120,1.8,62.74,130500,0.6,29.68,41.89,61.04,80.37,...,613861,"New York City, NY",3554473.0,13903.0,0.003911,"New York City, NY",1241,1.804,74430,11297.955559
36,"Oklahoma City, OK (00-36420)",18920,1.7,43.37,90200,1.7,21.95,28.60,39.18,53.80,...,28722,"Oklahoma City, OK",655057.0,4044.0,0.006173,"Oklahoma City, OK",71,2.021,52570,7900.575432
37,"Omaha-Council Bluffs, NE-IA (00-36540)",19190,2.2,46.81,97350,1.3,25.04,32.98,46.38,59.97,...,31174,"Omaha, NE",2319042.0,17443.0,0.007522,"Omaha, NE",2939,0.164,60345,9355.843698
38,"Orlando-Kissimmee-Sanford, FL (00-36740)",40250,1.0,48.27,100400,1.2,23.02,31.51,46.47,61.11,...,76085,"Orlando, FL",4174499.0,7299.0,0.001748,"Orlando, FL",1327,2.321,56700,8645.930875
39,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD (0...",88650,1.1,52.15,108470,0.8,26.32,35.97,49.44,64.98,...,159251,"Philadelphia, PA",1629159.0,16479.0,0.010115,"Philadelphia, PA",2844,0.284,64780,10009.500688
40,"Phoenix-Mesa-Scottsdale, AZ (00-38060)",86700,2.1,51.08,106240,1.2,24.11,33.43,48.91,63.60,...,172709,"Phoenix, AZ",5156799.0,17519.0,0.003397,"Phoenix, AZ",2621,2.554,59845,9249.306860
41,"Pittsburgh, PA (00-38300)",30760,1.3,45.54,94730,1.0,22.82,30.44,41.19,58.37,...,58884,"Pittsburgh, PA",6091495.0,1376.0,0.000226,"Pittsburgh, PA",1192,-1.072,55395,8435.470877
42,"Portland-South Portland, ME (00-76750)",6740,2.4,45.75,95170,1.5,26.35,32.06,41.75,55.09,...,123486,"Portland, OR",551157.0,7579.0,0.013751,"Portland, OR",1057,2.074,60745,9226.397325
43,"Portland-Vancouver-Hillsboro, OR-WA (00-38900)",47220,2.0,55.07,114550,1.5,28.13,37.76,52.06,68.45,...,123486,"Portland, OR",551157.0,7579.0,0.013751,"Portland, OR",1057,2.074,68520,10394.337825
44,"Providence-Warwick, RI-MA (00-77200)",16970,4.5,52.89,110020,1.9,27.82,37.62,50.65,65.88,...,34627,"Providence, RI",8220528.0,8305.0,0.001010,"Providence, RI",1448,0.829,68055,10360.922099
45,"Raleigh, NC (00-39580)",41180,1.2,55.22,114870,1.5,28.39,39.07,52.92,66.02,...,77377,"Raleigh, NC",8817088.0,4642.0,0.000526,"Raleigh, NC",1108,1.053,70155,10649.363347
46,"Sacramento--Roseville--Arden-Arcade, CA (00-40...",45060,2.1,50.20,104420,0.6,31.33,36.24,46.08,60.16,...,55709,"Sacramento, CA",1757923.0,9704.0,0.005520,"Sacramento, CA",2909,0.465,70270,10842.538448
47,"Salt Lake City, UT (00-41620)",37850,3.2,51.10,106300,1.7,23.64,33.09,47.64,64.46,...,73038,"Salt Lake City, UT",2954941.0,17714.0,0.005995,"Salt Lake City, UT",1735,3.611,59000,9036.629700
48,"San Antonio-New Braunfels, TX (00-41700)",30740,1.9,47.51,98830,1.2,23.00,30.79,45.71,61.02,...,55069,"San Antonio, TX",668467.0,6449.0,0.009647,"San Antonio, TX",1885,2.026,55940,8587.313085
49,"San Diego-Carlsbad, CA (00-41740)",59340,0.9,60.10,125010,0.7,29.20,40.69,59.06,76.79,...,123237,"San Diego, CA",6611000.0,2991.0,0.000452,"San Diego, CA",2394,1.293,72685,11152.509604
50,"San Francisco-Oakland-Hayward, CA (00-41860)",181740,1.2,76.18,158450,0.6,37.15,56.45,78.79,97.11,...,380190,"San Francisco, CA",7349695.0,13621.0,0.001853,"San Francisco, CA",659,2.482,97340,14686.842664
51,"San Jose-Sunnyvale-Santa Clara, CA (00-41940)",161790,0.9,88.68,184460,0.4,49.38,68.67,84.19,101.87,...,374138,"San Jose, CA",6721458.0,15828.0,0.002355,"San Jose, CA",253,1.490,122770,18477.503264
52,"Seattle-Tacoma-Bellevue, WA (00-42660)",171820,1.7,69.49,144530,0.9,35.52,48.59,67.68,83.35,...,298361,"Seattle, WA",2522189.0,18032.0,0.007149,"Seattle, WA",803,2.484,87475,13223.439484
53,"St. Louis, MO-IL (00-41180)",45330,2.0,45.35,94330,0.9,22.33,28.87,42.76,59.78,...,78905,"St. Louis, MO",2150021.0,14762.0,0.006866,"St. Louis, MO",456,0.881,53250,8042.114113
54,"Trenton, NJ (00-45940)",11610,1.8,54.43,113210,0.9,29.18,37.89,50.18,66.38,...,18764,"Trenton, NJ",84907.0,524.0,0.006173,"Trenton, NJ",234,1.321,69745,10498.002682
55,"Washington DC-Arlington-Alexandria, DC-VA-MD-W...",239700,1.1,62.96,130950,1.3,33.89,46.17,62.40,79.27,...,380232,"Washington DC, DC",720687.0,4449.0,0.006173,"Washington DC, DC",899,0.920,83255,12598.259634

### Calculate "Tech Friendly Index"

# Confortable Living Index

In [313]:
import pandas as pd 

Entry_Level_Wage= pd.read_excel("Final_Tech_Data.xlsx")
Entry_Level_Wage.drop(['Employment_Total', 'Employment_per_1k_jobs', 'Location_Quotient', 'Average_7_Year_Growth_Rate'], axis=1, inplace=True)
Entry_Level_Wage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Area_Name              56 non-null     object
 1   Entry_Level_Tech_Wage  56 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.0+ KB

In [109]:
import pandas as pd

COL = pd.read_csv("advisorsmith_cost_of_living_index.csv")
COL

           City State  Cost of Living Index
0       Abilene    TX                  89.1
1        Adrian    MI                  90.5
2         Akron    OH                  89.4
3    Alamogordo    NM                  85.8
4        Albany    GA                  87.3
..          ...   ...                   ...
505    Wheeling    WV                  84.1
506  New London    CT                 105.9
507      Daphne    AL                  96.6
508    Victoria    TX                  89.5
509    Aberdeen    WA                  97.6

[510 rows x 3 columns]

In [16]:
import pandas as pd

TB = pd.read_excel("Tax_Burden.xlsx")
TB.head()

  State  Sales_Tax  Income_Tax  Property_Tax   License_Tax  Total_Tax
0    AL       4936      3870.0          337.0          494     9637.0
1    AK        256       228.0          128.0          147      759.0
2    AZ       8246      4452.0          883.0          459    14040.0
3    AR       4410      3141.0         1088.0          384     9023.0
4    CA      52347     86937.0         2316.0         9422   151022.0

### Calculating Financial Hub

In [133]:
import pandas as pd
import sqlite3

# Load the datasets
Entry_Level_Wage = pd.read_excel("Final_Tech_Data.xlsx")
COL = pd.read_csv("advisorsmith_cost_of_living_index.csv")
TB = pd.read_excel("Tax_Burden.xlsx")

# Drop unnecessary columns from Entry_Level_Wage
Entry_Level_Wage.drop(['Employment_Total', 'Employment_per_1k_jobs', 'Location_Quotient', 'Average_7_Year_Growth_Rate'], axis=1, inplace=True)

# Standardize column names for easier SQL usage
COL.rename(columns={"Cost of Living Index": "Cost_Living"}, inplace=True)

# Create an in-memory SQLite database
conn = sqlite3.connect(":memory:")

# Load the DataFrames into SQLite
Entry_Level_Wage.to_sql("Tech_Wages", conn, if_exists="replace", index=False)
COL.to_sql("Cost_Living", conn, if_exists="replace", index=False)
TB.to_sql("Tax_Burden", conn, if_exists="replace", index=False)


# SQL query to calculate the ratios
query = """
SELECT Cost_Living.City, Tech_Wages.Area_Name, Tax_Burden.State,
((Tech_Wages.Entry_Level_Tech_Wage) / (Cost_Living.Cost_Living * 100)) - (Tax_Burden.Total_Tax / Tech_Wages.Entry_Level_Tech_Wage)
 AS Financial_Comfort_Index
FROM Tech_Wages
JOIN Cost_Living ON Tech_Wages.Area_Name LIKE '%' || Cost_Living.City || '%'
JOIN Tax_Burden ON Tech_Wages.Area_Name LIKE '%, %' || Tax_Burden.State || '%'
GROUP BY Tech_Wages.Area_Name;

"""

# Execute query and store the result in a DataFrame
result_df = pd.read_sql(query, conn)

# Close the SQLite connection
conn.close()

# Display results
result_df.head()

# Optionally, save the result to an Excel file
result_df.to_excel("Financial_Hub.xlsx", index=False)
result_df

,City,Area_Name,State,Financial_Comfort_Index
0,Albuquerque,"Albuquerque, NM (00-10740)",NM,5.617681
1,Atlanta,"Atlanta-Sandy Springs-Roswell, GA (00-12060)",GA,6.165646
2,Austin,"Austin-Round Rock, TX (00-12420)",TX,4.978857
3,Baltimore,"Baltimore-Columbia-Towson, MD (00-12580)",MD,6.878705
4,Boise City,"Boise City, ID (00-14260)",ID,5.401789
5,Boston,"Boston-Cambridge-Nashua, MA-NH (00-71650)",MA,5.713098
6,Buffalo,"Buffalo-Cheektowaga-Niagara Falls, NY (00-15380)",NY,4.600187
7,Charleston,"Charleston, WV (00-16620)",WV,5.306622
8,Charleston,"Charleston-North Charleston, SC (00-16700)",SC,7.038316
9,Charlotte,"Charlotte-Concord-Gastonia, NC-SC (00-16740)",NC,6.853667
10,Charlotte,"Charlottesville, VA (00-16820)",VA,6.477902
11,Chicago,"Chicago-Naperville-Elgin, IL-IN-WI (00-16980)",IL,5.854698
12,Cleveland,"Cleveland, TN (00-17420)",TN,4.646740
13,Cleveland,"Cleveland-Elyria, OH (00-17460)",OH,5.944938
14,Colorado Springs,"Colorado Springs, CO (00-17820)",CO,6.910246
15,Columbus,"Columbus, GA-AL (00-17980)",AL,6.346960
16,Columbus,"Columbus, IN (00-18020)",IN,5.784955
17,Columbus,"Columbus, OH (00-18140)",OH,6.183258
18,Dallas,"Dallas-Fort Worth-Arlington, TX (00-19100)",TX,5.740334
19,Denver,"Denver-Aurora-Lakewood, CO (00-19740)",CO,6.536805
20,Des Moines,"Des Moines-West Des Moines, IA (00-19780)",IA,6.545619
21,Detroit,"Detroit-Warren-Dearborn, MI (00-19820)",MI,6.358679
22,Hartford,"Hartford-West Hartford-East Hartford, CT (00-7...",CT,6.530840
23,Houston,"Houston-The Woodlands-Sugar Land, TX (00-26420)",TX,5.085547
24,Huntsville,"Huntsville, AL (00-26620)",AL,7.505387
25,Indiana,"Indianapolis-Carmel-Anderson, IN (00-26900)",IN,6.027804
26,Kansas City,"Kansas City, MO-KS (00-28140)",KS,6.165611
27,Las Vegas,"Las Vegas-Henderson-Paradise, NV (00-29820)",NV,4.916429
28,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA (00-31080)",CA,2.772170
29,Memphis,"Memphis, TN-MS-AR (00-32820)",AR,5.792179
30,Miami,"Miami-Fort Lauderdale-West Palm Beach, FL (00-...",FL,4.475578
31,Milwaukee,"Milwaukee-Waukesha-West Allis, WI (00-33340)",WI,6.061903
32,Bloomington,"Minneapolis-St. Paul-Bloomington, MN-WI (00-33...",MN,7.280525
33,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN...",TN,5.335025
34,New Orleans,"New Orleans-Metairie, LA (00-35380)",LA,5.741694
35,New York,"New York-Newark-Jersey City, NY-NJ-PA (00-35620)",NJ,5.407226
36,Oklahoma City,"Oklahoma City, OK (00-36420)",OK,5.853740
37,Omaha,"Omaha-Council Bluffs, NE-IA (00-36540)",IA,6.345210
38,Orlando,"Orlando-Kissimmee-Sanford, FL (00-36740)",FL,4.979493
39,Philadelphia,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD (0...",DE,6.212042
40,Phoenix,"Phoenix-Mesa-Scottsdale, AZ (00-38060)",AZ,5.503170
41,Pittsburgh,"Pittsburgh, PA (00-38300)",PA,5.324853
42,Portland,"Portland-South Portland, ME (00-76750)",ME,5.309716
43,Portland,"Portland-Vancouver-Hillsboro, OR-WA (00-38900)",OR,5.911396
44,Providence,"Providence-Warwick, RI-MA (00-77200)",MA,5.718443
45,Raleigh,"Raleigh, NC (00-39580)",NC,6.680342
46,Sacramento,"Sacramento--Roseville--Arden-Arcade, CA (00-40...",CA,3.692063
47,Lake City,"Salt Lake City, UT (00-41620)",UT,6.192012
48,San Antonio,"San Antonio-New Braunfels, TX (00-41700)",TX,5.121381
49,San Diego,"San Diego-Carlsbad, CA (00-41740)",CA,3.258877
50,San Francisco,"San Francisco-Oakland-Hayward, CA (00-41860)",CA,3.898678
51,San Jose,"San Jose-Sunnyvale-Santa Clara, CA (00-41940)",CA,5.845959
52,Seattle,"Seattle-Tacoma-Bellevue, WA (00-42660)",WA,6.795761
53,St. Louis,"St. Louis, MO-IL (00-41180)",IL,5.213278
54,Trenton,"Trenton, NJ (00-45940)",NJ,6.251962
55,Alexandria,"Washington DC-Arlington-Alexandria, DC-VA-MD-W...",MD,9.427279

## Combine Both

---

# Machine Learning Begins

### 1. Loading Data Sets & Defining Targets

In [134]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix


# Load datasets
tech_data = pd.read_excel("Tech_Hub.xlsx")
affordability_data = pd.read_excel("Financial_Hub.xlsx")

# Merge datasets on 'Area_Name'
df = pd.merge(tech_data, affordability_data, on='Area_Name', how='inner')

# Define features (X) and targets (Y1: Tech Hub, Y2: Affordability)
X = df.drop(columns=['Area_Name'])
Y1 = df['Tech_Friendly_Index']  # Binary classification (Yes/No)
Y2 = df['Financial_Comfort_Index']  # Binary classification (Yes/No)

### 2. Split data into training and testing sets

In [135]:
# Standardize the features
df_clean = df.select_dtypes(include=['number'])
X = df_clean.drop(columns=['Tech_Friendly_Index', 'Financial_Comfort_Index'])  # Drop target columns
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Split data into training and testing sets
X_train, X_test, Y1_train, Y1_test = train_test_split(X_scaled, Y1, test_size=0.2, random_state=42)
X_train, X_test, Y2_train, Y2_test = train_test_split(X_scaled, Y2, test_size=0.2, random_state=42)